In [64]:
import pandas as pd
import numpy as np
import itertools
from scipy.stats import chi2_contingency
from conditional import csv_format_discrete
from scipy.stats import chi2

In [2]:
df = csv_format_discrete(r"C:\Users\User\Documents\GitHub\ML_FYP\dataset\test_2.dat")

In [3]:
df

   A  B  C  D  E
1  3  1  2  3  1
2  0  2  3  2  2
3  0  2  3  4  3
4  1  2  2  3  0
5  3  2  3  4  0
6  1  1  3  4  4
7  2  1  1  3  4
8  2  0  2  0  2

In [4]:
#takes in a pandas dataframe, collects each column of the dataframe and combine it into a list
def split_(df):
    v = list(df)
    empty_0 = []
    for i in list(df):
        column_of_array = df[i].to_numpy()
        empty_0.append(column_of_array)
    return empty_0

In [5]:
#this function essentially obtains all the combinations of the splitted df
def combinations_(df):
    empty_1 = []
    empty_2 = []
    v = split_(df) #call the function split_
    itertools_combinations = list(itertools.combinations(v, 2))
    return itertools_combinations
#returns a list of combinations

In [74]:
p_list = p.tolist()
p_chi2 = chi2_contingency(p_list[1])
p_chi2

(6.623757309941519,
 0.4690756607381139,
 7,
 array([[1.93548387, 1.16129032, 1.16129032, 1.16129032, 2.32258065,
         1.5483871 , 1.16129032, 1.5483871 ],
        [3.06451613, 1.83870968, 1.83870968, 1.83870968, 3.67741935,
         2.4516129 , 1.83870968, 2.4516129 ]]))

In [88]:
chi2bool(p_chi2)

AttributeError: 'numpy.float64' object has no attribute 'ppf'

In [87]:
def chi2bool(chi):
    chi2 = chi[0]
    dof = chi[2]
    if chi[1] > chi2.ppf(0.95, dof):
        print("we reject the null hypothesis")
    else: 
        print("we accept the null hypothesis")

In [91]:
chi = p_chi2
if chi[1] > chi2.ppf(0.95, dof):
    print("we reject the null hypothesis")
else: 
    print("we accept the null hypothesis")

we accept the null hypothesis

In [84]:
p_chi2
test_stat = p_chi2[0]
dof = p_chi2[2]
chi2.ppf(0.05, dof)

2.167349909298057

In [67]:
chi2bool(p_chi2)

AttributeError: 'numpy.float64' object has no attribute 'ppf'

In [ ]:
def chi2(df):
    empty = []
    v = combinations_(df)
    u = len(v)
    for i in range(u):
        t = chi2_contingency(v[i])
        print(t)
#         empty.append(t)
#     return empty

In [ ]:
chi2(df)

In [ ]:
v =combinations_(df)
np.array(v[i])

In [ ]:
def list_multiplier(df):
    new_list = []
    for i in range(len(df)):
        new_list = [i]
    return new_list

In [ ]:
def append_(df):
    empty = []
    k = combinations_(df)
    v = len(k)
    for i in k:
        test = []
        test[i] = k[i]
        return test

In [ ]:
combinations_(df)[i]

In [ ]:
empty = []
k = combinations_(df)
v = len(k)
for i in range(v):
    a_i = k[i]
    print(a_i)
#     empty[i] = (k[i])
#         print(test)
    #     test = []
#     test[i] = k[i]
#     print(test)

In [125]:
for i in range(10):
  a_i = [i] #Stores the corresponding value of i in each a_i list.
  print(a_i)

[0]
[1]
[2]
[3]
[4]
[5]
[6]
[7]
[8]
[9]

In [108]:
using = []
for i in test:
    print(i)
#     x = i.tolist()
#     using.append(x)
# using

(array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64), array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64))

In [74]:
test_list = [2]
test_2 = test_list * 3 
for i in range(v_length):

[]

In [69]:
v = append_(df)
v_length = len(v)
#take v[i] out of v for i number of list

In [22]:
v = list(df)
empty_0 = []
for i in list(df):
    column_of_array = df[i].to_numpy()
    empty_0.append(column_of_array)
empty_0

[array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
 array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
 array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
 array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64),
 array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)]

In [55]:
new_list = []
v = list(df)
empty_list = []
itertools_combinations = list(itertools.combinations(empty_0, 2))
for i in range(length):

[[],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64))]

In [45]:
length = len(itertools_combinations)
# u = [itertools_combinations]
# u
itertools_combinations

[(array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64))]

In [16]:
empty_0 = []
for i in list(df):
    column_of_array = df[i].to_numpy()
    empty_0.append(column_of_array) 
empty_0

[array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
 array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
 array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
 array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64),
 array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)]

In [12]:
v = list(df)
v

['A', 'B', 'C', 'D', 'E']

In [3]:
v1 = [1,2,3,4,5]
v2 = [2,2,2,2,2]
headers.append(v1)