In [1]:
import pandas as pd

In [5]:
df_ = pd.read_csv('discrete.dat', header=None)
df_

                0
0     A B C D E F
1     3 3 3 3 3 2
2     b c b a b b
3     b a c a b b
4     a a a a a a
...           ...
4997  a a a a a a
4998  c c b b c a
4999  b b a b c b
5000  a c b c c a
5001  a a a a b b

[5002 rows x 1 columns]

In [ ]:
read_file = pd.read_csv('my_file.dat', sep='\s+\|\s+')
read_file.to_csv ('my_file.csv', index=None)