In [1]:
import pandas as pd
import numpy as np
# from pygobnilp.gobnilp import Gobnilp
# import pgmpy
# import itertools
# from pgmpy.estimators.CITests import pearsonr
# from pgmpy.estimators.CITests import chi_square
# import networkx as nx
# import time
# import collections

In [6]:
df = pd.read_csv(r'C:\Users\User\Documents\GitHub\ML_FYP\dataset\unprocessed\test.csv')
df = df.drop(columns=['Unnamed: 0'])

In [7]:
list(df)

,N07muVerMo,SubjVertMo,QGVertMotion,CombVerMo,AreaMesoALS,SatContMoist,RaoContMoist,CombMoisture,AreaMoDryAir,VISCloudCov,...,MeanRH,MidLLapse,MvmtFeatures,RHRatio,SfcWndShfDis,SynForcng,TempDis,WindAloft,WindFieldMt,WindFieldPln
0,Down,Neutral,Down,Down,Down,Neutral,Neutral,Neutral,Wet,PC,...,Average,ModerateOrLe,NoMajor,DryMMoistL,E_W_N,LittleChange,QStationary,AllElse,Westerly,LV
1,Down,Down,Neutral,Neutral,Neutral,Neutral,Wet,Neutral,Neutral,Clear,...,Dry,Steep,OtherRapid,DryMMoistL,DenvCyclone,LittleChange,Other,LV,Westerly,LV
2,Neutral,Neutral,Down,Neutral,Neutral,VeryWet,Neutral,Wet,VeryWet,Cloudy,...,VeryMoist,ModerateOrLe,NoMajor,DryMMoistL,E_W_S,LittleChange,Other,NWQuad,LVorOther,SEQuad
3,Down,WeakUp,WeakUp,Neutral,Neutral,Neutral,Dry,Dry,Dry,Clear,...,Average,ModerateOrLe,NoMajor,MoistMDryL,None,NegToPos,None,SWQuad,Westerly,LV
4,Neutral,Neutral,Neutral,Neutral,Neutral,Neutral,Neutral,Neutral,Neutral,PC,...,Dry,Steep,OtherRapid,Other,DenvCyclone,SigNegative,None,SWQuad,Westerly,LongAnticyc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Down,Neutral,WeakUp,WeakUp,WeakUp,Dry,VeryWet,Wet,Wet,PC,...,Average,ModerateOrLe,MarkedUpper,Other,None,PosToNeg,Other,SWQuad,Westerly,DenvCyclone
9996,Neutral,Neutral,Down,Neutral,Neutral,Neutral,Wet,VeryWet,VeryWet,PC,...,VeryMoist,Steep,StrongFront,DryMMoistL,E_W_S,SigPositive,Other,NWQuad,Westerly,LongAnticyc
9997,WeakUp,Down,Neutral,Down,Down,Wet,Neutral,VeryWet,VeryWet,PC,...,Average,ModerateOrLe,OtherRapid,MoistMDryL,Other,LittleChange,None,AllElse,Westerly,WidespdDnsl
9998,Down,Neutral,Neutral,Down,Down,Wet,Dry,VeryWet,Wet,PC,...,Dry,CloseToDryAd,NoMajor,Other,E_W_S,LittleChange,Other,SWQuad,Westerly,LongAnticyc
9999,Neutral,StrongUp,Neutral,WeakUp,WeakUp,Neutral,Wet,Wet,Wet,PC,...,VeryMoist,ModerateOrLe,NoMajor,Other,E_W_S,LittleChange,Other,LV,LVorOther,SEQuad

In [2]:
# from pgmpy.sampling import GibbsSampling
from pgmpy.utils import get_example_model
from pgmpy.sampling import BayesianModelSampling

In [3]:
k = get_example_model('barley')

In [4]:
k

In [5]:
data = BayesianModelSampling(k).forward_sample(10000)

  0%|          | 0/48 [00:00<?, ?it/s]

C:\Users\User\anaconda3\lib\site-packages\pgmpy\utils\mathext.py:83: UserWarning: Probability values don't exactly sum to 1. Differ by: 9.999999994736442e-08. Adjusting values.
  warn(
C:\Users\User\anaconda3\lib\site-packages\pgmpy\utils\mathext.py:83: UserWarning: Probability values don't exactly sum to 1. Differ by: 9.99999993922529e-09. Adjusting values.
  warn(
C:\Users\User\anaconda3\lib\site-packages\pgmpy\utils\mathext.py:83: UserWarning: Probability values don't exactly sum to 1. Differ by: 2.1000000005599873e-07. Adjusting values.
  warn(
C:\Users\User\anaconda3\lib\site-packages\pgmpy\utils\mathext.py:83: UserWarning: Probability values don't exactly sum to 1. Differ by: 1.0000000005838672e-07. Adjusting values.
  warn(

In [22]:
words = ['One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine', 'Ten', 'Eleven', 'Twelve', 'Thirteen', 'Fourteen', 'Fifteen'
        , 'Sixteen', 'Seventeen', 'Eighteen', 'Nineteen', 'Twenty','Twentyone', 'Twentytwo', 'Twentythree', 'Twentyfour', 'Twentyfive', 'Twentysix', 'Twentyseven', 'Twentyeight', 'Twentynine', 'Thirty', 'Thirtyone', 'Thirtytwo', 'Thirtythree', 'Thirtyfour', 'Thirtyfive', 'Thirtysix', 'Thirtyseven', 'Thirtyeight', 'Thirtynine', 'Forty', 'Fortyone', 'Fortytwo', 'Fortythree', 'Fortyfour', 'Fortyfive', 'Fortysix', 'Fortyseven', 'Fortyeight']

In [23]:
words

['One',
 'Two',
 'Three',
 'Four',
 'Five',
 'Six',
 'Seven',
 'Eight',
 'Nine',
 'Ten',
 'Eleven',
 'Twelve',
 'Thirteen',
 'Fourteen',
 'Fifteen',
 'Sixteen',
 'Seventeen',
 'Eighteen',
 'Nineteen',
 'Twenty',
 'Twentyone',
 'Twentytwo',
 'Twentythree',
 'Twentyfour',
 'Twentyfive',
 'Twentysix',
 'Twentyseven',
 'Twentyeight',
 'Twentynine',
 'Thirty',
 'Thirtyone',
 'Thirtytwo',
 'Thirtythree',
 'Thirtyfour',
 'Thirtyfive',
 'Thirtysix',
 'Thirtyseven',
 'Thirtyeight',
 'Thirtynine',
 'Forty',
 'Fortyone',
 'Fortytwo',
 'Fortythree',
 'Fortyfour',
 'Fortyfive',
 'Fortysix',
 'Fortyseven',
 'Fortyeight']

In [24]:
data = data.rename(columns=dict(zip(data.columns, words)))

In [25]:
data

,One,Two,Three,Four,Five,Six,Seven,Eight,Nine,Ten,...,Thirtynine,Forty,Fortyone,Fortytwo,Fortythree,Fortyfour,Fortyfive,Fortysix,Fortyseven,Fortyeight
0,9,5,3,5,11,5,8,9,2,6,...,7,5,8,9,2,8,4,4,18,6
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,0,1,1,1,1,1,0,0,...,1,1,1,1,0,1,0,0,0,1
3,2,1,0,1,2,2,0,0,0,0,...,0,2,0,2,0,2,0,1,1,2
4,3,2,1,1,3,3,0,2,0,1,...,2,3,2,3,0,3,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,1,2,2,3,6,0,5,8,0,0,...,1,3,5,1,0,4,2,0,0,5
9997,7,3,0,1,0,4,5,0,0,1,...,1,3,0,4,0,0,2,0,0,2
9998,0,2,1,3,7,3,3,6,0,1,...,3,0,6,2,0,2,0,0,0,4
9999,1,4,1,0,8,0,6,2,0,0,...,2,2,4,1,0,2,0,1,2,4
10000,8,4,0,1,6,0,6,8,0,2,...,0,2,7,4,0,0,0,1,1,3

In [15]:
for i in list(data):
    all_data = data[i].unique()
    brand_dic = dict(zip(all_data, range(len(all_data))))
    data[i] = data[i].replace(brand_dic)
#     print(brand_dic)
#     print('pause')

In [16]:
empty = []
for i in list(data):
#     print(set(data[i]))
    empty.append(len(set(data[i])))

In [17]:
data.loc[-1] = empty

In [18]:
data.index = data.index + 1

In [19]:
data = data.sort_index()

In [20]:
data

,One,Two,Three,Four,Five,Six,Seven,Eight,Nine,Ten,...,thirty nine,forty,forty one,forty two,forty three,forty four,forty five,forty six,forty seven,forty eight
0,9,5,3,5,11,5,8,9,2,6,...,7,5,8,9,2,8,4,4,18,6
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,0,1,1,1,1,1,0,0,...,1,1,1,1,0,1,0,0,0,1
3,2,1,0,1,2,2,0,0,0,0,...,0,2,0,2,0,2,0,1,1,2
4,3,2,1,1,3,3,0,2,0,1,...,2,3,2,3,0,3,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,1,2,2,3,6,0,5,8,0,0,...,1,3,5,1,0,4,2,0,0,5
9997,7,3,0,1,0,4,5,0,0,1,...,1,3,0,4,0,0,2,0,0,2
9998,0,2,1,3,7,3,3,6,0,1,...,3,0,6,2,0,2,0,0,0,4
9999,1,4,1,0,8,0,6,2,0,0,...,2,2,4,1,0,2,0,1,2,4
10000,8,4,0,1,6,0,6,8,0,2,...,0,2,7,4,0,0,0,1,1,3

In [26]:
data.to_csv('barley_testing.csv', index=False)