In [1]:
import pandas as pd
import numpy as np
from pygobnilp.gobnilp import Gobnilp
import pgmpy
import itertools
from pgmpy.estimators.CITests import pearsonr
from pgmpy.estimators.CITests import chi_square
import networkx as nx
import time
import collections

### FORMED

In [4]:
df = pd.read_csv(r'C:\Users\User\Documents\GitHub\ML_FYP\dataset\FORMED_DATA.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\User\\Documents\\GitHub\\ML_FYP\\dataset\\FORMED_DATA.csv'

In [ ]:
len(list(df))

In [528]:
'''
PCLRfacet3
'''
print(set(df['PCLRfacet3']))
dict_PCLRfacet3 = {'<3': 0, '3to5': 1, '6to8': 2, '9to10': 3, '11+' : 4}
df['PCLRfacet3'] = df['PCLRfacet3'].replace(dict_PCLRfacet3)

{'3to5', '9to10', '6to8', '<3', '11+'}

In [529]:
'''
AbilityToCope
'''
print(set(df['AbilityToCope']))
dict_AbilityToCope = {'Low': 0, 'High': 1}
df['AbilityToCope'] = df['AbilityToCope'].replace(dict_AbilityToCope)

{'Low', 'High'}

In [530]:
'''
Stress
'''
print(set(df['Stress']))
dict_Stress = {'No': 0, 'Yes': 1}
df['Stress'] = df['Stress'].replace(dict_Stress)

{'Yes', 'No'}

In [531]:
'''
ProblematicLifeEvents
'''
print(set(df['ProblematicLifeEvents']))
dict_ProblematicLifeEvents = {'No': 0, 'Yes': 1}
df['ProblematicLifeEvents'] = df['ProblematicLifeEvents'].replace(dict_ProblematicLifeEvents)

{'Yes', 'No'}

In [532]:
'''
Victimisation
'''
print(set(df['Victimisation']))
dict_Victimisation = {'No': 0, 'Yes': 1}
df['Victimisation'] = df['Victimisation'].replace(dict_Victimisation)

{'Yes', 'No'}

In [533]:
'''
ViolentThoughts
'''
print(set(df['ViolentThoughts']))
dict_ViolentThoughts = {'No': 0, 'Yes': 1}
df['ViolentThoughts'] = df['ViolentThoughts'].replace(dict_ViolentThoughts)

{'Yes', 'No'}

In [534]:
'''
Impulsivity
'''
print(set(df['Impulsivity']))
dict_Impulsivity = {'No': 0, 'Partly' : 1, 'Yes': 2}
df['Impulsivity'] = df['Impulsivity'].replace(dict_Impulsivity)

{'Yes', 'Partly', 'No'}

In [535]:
'''
BPD
'''
print(set(df['BPD']))
dict_BPD = {'No': 0, 'Yes': 1}
df['BPD'] = df['BPD'].replace(dict_BPD)

{'Yes', 'No'}

In [536]:
'''
AbuseNeglectAsChild
'''
print(set(df['AbuseNeglectAsChild']))
dict_AbuseNeglectAsChild = {'No': 0, 'Yes': 1}
df['AbuseNeglectAsChild'] = df['AbuseNeglectAsChild'].replace(dict_AbuseNeglectAsChild)

{'Yes', 'No'}

In [537]:
'''
PCLRfactor2
'''
print(set(df['PCLRfactor2']))
dict_PCLRfactor2 = {'<5' : 0, '5to9' : 1, '10to14' : 2, '15-18' : 3}
df['PCLRfactor2'] = df['PCLRfactor2'].replace(dict_PCLRfactor2)

{'5to9', '10to14', '<5', '15-18'}

In [538]:
'''
prioracq
'''
print(set(df['prioracq']))
dict_prioracq = {'0to2' : 0, '3to12' : 1, '13+' : 2}
df['prioracq'] = df['prioracq'].replace(dict_prioracq)

{'13+', '3to12', '0to2'}

In [539]:
'''
ASPD
'''
print(set(df['ASPD']))
dict_ASPD = {'No': 0, 'Yes': 1}
df['ASPD'] = df['ASPD'].replace(dict_ASPD)

{'Yes', 'No'}

In [540]:
'''
CriminalNetwork
'''
print(set(df['CriminalNetwork']))
dict_CriminalNetwork = {'No': 0, 'Yes': 1}
df['CriminalNetwork'] = df['CriminalNetwork'].replace(dict_CriminalNetwork)

{'Yes', 'No'}

In [541]:
'''
Age
'''
print(set(df['Age']))
dict_Age = {'*' : 0, '18-19' : 1, '20-21': 2, '22-25' : 3, '26-29' : 4, '30-34' : 5, '35-39' : 6, '40-49' : 7, '50-59' : 8, '60+' : 9}
df['Age'] = df['Age'].replace(dict_Age)

{'22-25', '40-49', '30-34', '26-29', '50-59', '*', '20-21', '18-19', '35-39', '60+'}

In [542]:
'''
Gender
'''
print(set(df['Gender']))
dict_Gender = {'Male': 0, 'Female': 1}
df['Gender'] = df['Gender'].replace(dict_Gender)

{'Male', 'Female'}

In [543]:
'''
PriorViolentConvictions
'''
print(set(df['PriorViolentConvictions']))
dict_PVC = {'None' : 0, 'One' : 1, '2to5': 2, '6+' : 3}
df['PriorViolentConvictions'] = df['PriorViolentConvictions'].replace(dict_PVC)

{'None', '2to5', 'One', '6+'}

In [544]:
'''
pclrscore
'''
print(set(df['pclrscore']))
dict_pclrscore = {'0to9' : 0, '10to16' : 1, '17to26': 2, '27+' : 3}
df['pclrscore'] = df['pclrscore'].replace(dict_pclrscore)

{'27+', '17to26', '0to9', '10to16'}

In [545]:
'''
TimeAtRisk
'''
print(set(df['TimeAtRisk']))
dict_TimeAtRisk = {'<1kd' : 0, '1-1.5kd' : 1, '1.5-2kd' : 2, '2-2.6kd' : 3}
df['TimeAtRisk'] = df['TimeAtRisk'].replace(dict_TimeAtRisk)

{'2-2.6kd', '1-1.5kd', '<1kd', '1.5-2kd'}

In [546]:
'''
CriminalFamilyBackground
'''
print(set(df['CriminalFamilyBackground']))
dict_CriminalFamilyBackground = {'No': 0, 'Yes': 1}
df['CriminalFamilyBackground'] = df['CriminalFamilyBackground'].replace(dict_CriminalFamilyBackground)

{'Yes', 'No'}

In [547]:
'''
Education
'''
print(set(df['Education']))
dict_Education = {"No" : 0, "GCSE/O'Level" : 1, "A'Level+" : 2, 'Other' : 3}
df['Education'] = df['Education'].replace(dict_Education)

{"A'Level+", "GCSE/O'Level", 'No', 'Other'}

In [548]:
'''
Intelligence
'''
print(set(df['Intelligence']))
dict_Intelligence = {'Extremely Low': 0, 'Borderline': 1, 'Low Average' : 2, 'Average' : 3, 'High Average' : 4, 'Superior' : 5}
df['Intelligence'] = df['Intelligence'].replace(dict_Intelligence)

{'Extremely Low', 'Low Average', 'High Average', 'Average', 'Borderline', 'Superior'}

In [549]:
'''
EmploymentOrTraining
'''
print(set(df['EmploymentOrTraining']))
dict_EmploymentOrTraining = {'No': 0, 'Yes': 1}
df['EmploymentOrTraining'] = df['EmploymentOrTraining'].replace(dict_EmploymentOrTraining)

{'Yes', 'No'}

In [550]:
'''
FinancialDifficulties
'''
print(set(df['FinancialDifficulties']))
dict_FinancialDifficulties = {'No': 0, 'Yes': 1}
df['FinancialDifficulties'] = df['FinancialDifficulties'].replace(dict_FinancialDifficulties)

{'Yes', 'No'}

In [551]:
'''
DomesticStability
'''
print(set(df['DomesticStability']))
dict_DomesticStability = {'Low': 0, 'High': 1}
df['DomesticStability'] = df['DomesticStability'].replace(dict_DomesticStability)

{'Low', 'High'}

In [552]:
'''
GangMember
'''
print(set(df['GangMember']))
dict_GangMember = {'No': 0, 'Yes': 1}
df['GangMember'] = df['GangMember'].replace(dict_GangMember)

{'Yes', 'No'}

In [553]:
'''
ComplianceWithSupervision
'''
print(set(df['ComplianceWithSupervision']))
dict_ComplianceWithSupervision = {'No': 0, 'Partly' : 1, 'Yes': 2}
df['ComplianceWithSupervision'] = df['ComplianceWithSupervision'].replace(dict_ComplianceWithSupervision)

{'Yes', 'Partly', 'No'}

In [554]:
'''
NegativeAttitude
'''
print(set(df['NegativeAttitude']))
dict_NegativeAttitude = {'No': 0, 'Partly' : 1, 'Yes': 2}
df['NegativeAttitude'] = df['NegativeAttitude'].replace(dict_NegativeAttitude)

{'Yes', 'Partly', 'No'}

In [555]:
'''
CriminalAttitude
'''
print(set(df['CriminalAttitude']))
dict_CriminalAttitude = {'No': 0, 'Yes': 1}
df['CriminalAttitude'] = df['CriminalAttitude'].replace(dict_CriminalAttitude)

{'Yes', 'No'}

In [556]:
'''
SymptomsOfMentalIllness
'''
print(set(df['SymptomsOfMentalIllness']))
dict_SymptomsOfMentalIllness = {'No': 0, 'Partial' : 1, 'Yes': 2}
df['SymptomsOfMentalIllness'] = df['SymptomsOfMentalIllness'].replace(dict_SymptomsOfMentalIllness)

{'Partial', 'Yes', 'No'}

In [557]:
'''
PCLRfactor1
'''
print(set(df['PCLRfactor1']))
dict_PCLRfactor1 = {"<5" : 0, "6to8" : 1, "9to12" : 2, '13-16' : 3}
df['PCLRfactor1'] = df['PCLRfactor1'].replace(dict_PCLRfactor1)

{'6to8', '13-16', '<5', '9to12'}

In [558]:
'''
RefuseFailToAttendTherapy
'''
print(set(df['RefuseFailToAttendTherapy']))
dict_RefuseFailToAttendTherapy = {'No': 0, 'Yes': 1}
df['RefuseFailToAttendTherapy'] = df['RefuseFailToAttendTherapy'].replace(dict_RefuseFailToAttendTherapy)

{'Yes', 'No'}

In [559]:
'''
HazardousDrinkingAfterRelease
'''
print(set(df['HazardousDrinkingAfterRelease']))
dict_HazardousDrinkingAfterRelease = {'No': 0, 'Yes': 1}
df['HazardousDrinkingAfterRelease'] = df['HazardousDrinkingAfterRelease'].replace(dict_HazardousDrinkingAfterRelease)

{'Yes', 'No'}

In [560]:
'''
CannabisBeforePrisonSentence
'''
print(set(df['CannabisBeforePrisonSentence']))
dict_CannabisBeforePrisonSentence = {'No': 0, 'Yes': 1}
df['CannabisBeforePrisonSentence'] = df['CannabisBeforePrisonSentence'].replace(dict_CannabisBeforePrisonSentence)

{'Yes', 'No'}

In [561]:
'''
CocaineBeforePrisonSentence
'''
print(set(df['CocaineBeforePrisonSentence']))
dict_CocaineBeforePrisonSentence = {'No': 0, 'Yes': 1}
df['CocaineBeforePrisonSentence'] = df['CocaineBeforePrisonSentence'].replace(dict_CocaineBeforePrisonSentence)

{'Yes', 'No'}

In [562]:
'''
EcstasyBeforePrisonSentence
'''
print(set(df['EcstasyBeforePrisonSentence']))
dict_EcstasyBeforePrisonSentence = {'No': 0, 'Yes': 1}
df['EcstasyBeforePrisonSentence'] = df['EcstasyBeforePrisonSentence'].replace(dict_EcstasyBeforePrisonSentence)

{'Yes', 'No'}

In [563]:
'''
EcstasyDuringPrisonSentence
'''
print(set(df['EcstasyDuringPrisonSentence']))
dict_EcstasyDuringPrisonSentence = {'No': 0, 'Yes': 1}
df['EcstasyDuringPrisonSentence'] = df['EcstasyDuringPrisonSentence'].replace(dict_EcstasyDuringPrisonSentence)

{'Yes', 'No'}

In [564]:
'''
CannabisDuringPrisonSentence
'''
print(set(df['CannabisDuringPrisonSentence']))
dict_CannabisDuringPrisonSentence = {'No': 0, 'Yes': 1}
df['CannabisDuringPrisonSentence'] = df['CannabisDuringPrisonSentence'].replace(dict_CannabisDuringPrisonSentence)

{'Yes', 'No'}

In [565]:
'''
CocaineDuringPrisonSentence
'''
print(set(df['CocaineDuringPrisonSentence']))
dict_CocaineDuringPrisonSentence = {'No': 0, 'Yes': 1}
df['CocaineDuringPrisonSentence'] = df['CocaineDuringPrisonSentence'].replace(dict_CocaineDuringPrisonSentence)

{'Yes', 'No'}

In [566]:
'''
CannabisAfterRelease
'''
print(set(df['CannabisAfterRelease']))
dict_CannabisAfterRelease = {'No': 0, 'Yes': 1}
df['CannabisAfterRelease'] = df['CannabisAfterRelease'].replace(dict_CannabisAfterRelease)

{'Yes', 'No'}

In [567]:
'''
CocaineAfterRelease
'''
print(set(df['CocaineAfterRelease']))
dict_CocaineAfterRelease = {'No': 0, 'Yes': 1}
df['CocaineAfterRelease'] = df['CocaineAfterRelease'].replace(dict_CocaineAfterRelease)

{'Yes', 'No'}

In [568]:
'''
EcstasyAfterRelease
'''
print(set(df['EcstasyAfterRelease']))
dict_EcstasyAfterRelease = {'No': 0, 'Yes': 1}
df['EcstasyAfterRelease'] = df['EcstasyAfterRelease'].replace(dict_EcstasyAfterRelease)

{'Yes', 'No'}

In [569]:
'''
EcstasyDependence
'''
print(set(df['EcstasyDependence']))
dict_EcstasyDependence = {'No': 0, 'Yes': 1}
df['EcstasyDependence'] = df['EcstasyDependence'].replace(dict_EcstasyDependence)

{'Yes', 'No'}

In [570]:
'''
AnyDrugDependence
'''
print(set(df['AnyDrugDependence']))
dict_AnyDrugDependence = {'No': 0, 'Yes': 1}
df['AnyDrugDependence'] = df['AnyDrugDependence'].replace(dict_AnyDrugDependence)

{'Yes', 'No'}

In [571]:
'''
CannabisDependence
'''
print(set(df['CannabisDependence']))
dict_CannabisDependence = {'No': 0, 'Yes': 1}
df['CannabisDependence'] = df['CannabisDependence'].replace(dict_CannabisDependence)

{'Yes', 'No'}

In [572]:
'''
CocaineDependence
'''
print(set(df['CocaineDependence']))
dict_CocaineDependence = {'No': 0, 'Yes': 1}
df['CocaineDependence'] = df['CocaineDependence'].replace(dict_CocaineDependence)

{'Yes', 'No'}

In [573]:
'''
AlcoholDependence
'''
print(set(df['AlcoholDependence']))
dict_AlcoholDependence = {'No': 0, 'Yes': 1}
df['AlcoholDependence'] = df['AlcoholDependence'].replace(dict_AlcoholDependence)

{'Yes', 'No'}

In [574]:
'''
DrugTreatment
'''
print(set(df['DrugTreatment']))
dict_DrugTreatment = {'No': 0, 'Yes': 1}
df['DrugTreatment'] = df['DrugTreatment'].replace(dict_DrugTreatment)

{'Yes', 'No'}

In [575]:
'''
AlcoholTreatment
'''
print(set(df['AlcoholTreatment']))
dict_AlcoholTreatment = {'No': 0, 'Yes': 1}
df['AlcoholTreatment'] = df['AlcoholTreatment'].replace(dict_AlcoholTreatment)

{'Yes', 'No'}

In [576]:
'''
AlcoholTreatmentGivenRFAT
'''
print(set(df['AlcoholTreatmentGivenRFAT']))
dict_AlcoholTreatmentGivenRFAT = {'No': 0, 'Yes': 1}
df['AlcoholTreatmentGivenRFAT'] = df['AlcoholTreatmentGivenRFAT'].replace(dict_AlcoholTreatmentGivenRFAT)

{'Yes', 'No'}

In [577]:
'''
DrugTreatmentGivenRFAT
'''
print(set(df['DrugTreatmentGivenRFAT']))
dict_DrugTreatmentGivenRFAT = {'No': 0, 'Yes': 1}
df['DrugTreatmentGivenRFAT'] = df['DrugTreatmentGivenRFAT'].replace(dict_DrugTreatmentGivenRFAT)

{'Yes', 'No'}

In [578]:
'''
EcstasyPT
'''
print(set(df['EcstasyPT']))
dict_EcstasyPT = {'No': 0, 'Yes': 1}
df['EcstasyPT'] = df['EcstasyPT'].replace(dict_EcstasyPT)

{'Yes', 'No'}

In [579]:
'''
CannabisPT
'''
print(set(df['CannabisPT']))
dict_CannabisPT = {'No': 0, 'Yes': 1}
df['CannabisPT'] = df['CannabisPT'].replace(dict_CannabisPT)

{'Yes', 'No'}

In [580]:
'''
CocainePT
'''
print(set(df['CocainePT']))
dict_CocainePT = {'No': 0, 'Yes': 1}
df['CocainePT'] = df['CocainePT'].replace(dict_CocainePT)

{'Yes', 'No'}

In [581]:
'''
SubstanceUse
'''
print(set(df['SubstanceUse']))
dict_SubstanceUse = {'None': 0, 'Drugs': 1, 'Alcohol' : 2, 'DrugsANDalcohol' : 3}
df['SubstanceUse'] = df['SubstanceUse'].replace(dict_SubstanceUse)

{'None', 'Drugs', 'DrugsANDalcohol', 'Alcohol'}

In [582]:
'''
SubstanceMisuseDL
'''
print(set(df['SubstanceMisuseDL']))
dict_SubstanceMisuseDL = {'Low' : 0, 'High' : 1}
df['SubstanceMisuseDL'] = df['SubstanceMisuseDL'].replace(dict_SubstanceMisuseDL)

{'Low', 'High'}

In [583]:
'''
Violence - already done
'''
print(set(df['Violence']))

{0, 1}

In [584]:
'''
ViolentConvictions - already done
'''

'\nViolentConvictions - already done\n'

In [585]:
'''
ResponsivenessToTreatment
'''
print(set(df['ResponsivenessToTreatment']))
dict_ResponsivenessToTreatment = {'No' : 0, 'Partly' : 1 , 'Yes' : 2}
df['ResponsivenessToTreatment'] = df['ResponsivenessToTreatment'].replace(dict_ResponsivenessToTreatment)

{'Yes', 'Partly', 'No'}

In [586]:
'''
ResponseToTreatGivenAlcDep
'''
print(set(df['ResponseToTreatGivenAlcDep']))
dict_ResponseToTreatGivenAlcDep = {'Non-responsive' : 0, 'Partial-responsive' : 1 , 'Responsive' : 2}
df['ResponseToTreatGivenAlcDep'] = df['ResponseToTreatGivenAlcDep'].replace(dict_ResponseToTreatGivenAlcDep)

{'Non-responsive', 'Responsive', 'Partial-responsive'}

In [587]:
'''
ResponseToTreatGivenDrugDep
'''
print(set(df['ResponseToTreatGivenDrugDep']))
dict_ResponseToTreatGivenDrugDep = {'Non-responsive' : 0, 'Partial-responsive' : 1 , 'Responsive' : 2}
df['ResponseToTreatGivenDrugDep'] = df['ResponseToTreatGivenDrugDep'].replace(dict_ResponseToTreatGivenDrugDep)

{'Non-responsive', 'Responsive', 'Partial-responsive'}

In [588]:
'''
Anger
'''
print(set(df['Anger']))
dict_Anger = {'No': 0, 'Yes': 1}
df['Anger'] = df['Anger'].replace(dict_Anger)

{'Yes', 'No'}

In [589]:
'''
AngerPT
'''
print(set(df['AngerPT']))
dict_AngerPT = {'No': 0, 'Yes': 1}
df['AngerPT'] = df['AngerPT'].replace(dict_AngerPT)

{'Yes', 'No'}

In [590]:
'''
AngerManagementGivenRFAT
'''
print(set(df['AngerManagementGivenRFAT']))
dict_AngerManagementGivenRFAT = {'No': 0, 'Yes': 1}
df['AngerManagementGivenRFAT'] = df['AngerManagementGivenRFAT'].replace(dict_AngerManagementGivenRFAT)

{'Yes', 'No'}

In [591]:
'''
HazardousDrinkingPT
'''
print(set(df['HazardousDrinkingPT']))
dict_HazardousDrinkingPT = {'No': 0, 'Yes': 1}
df['HazardousDrinkingPT'] = df['HazardousDrinkingPT'].replace(dict_HazardousDrinkingPT)

{'Yes', 'No'}

In [592]:
'''
AngerManagement
'''
print(set(df['AngerManagement']))
dict_AngerManagement = {'No': 0, 'Yes': 1}
df['AngerManagement'] = df['AngerManagement'].replace(dict_AngerManagement)

{'Yes', 'No'}

In [593]:
'''
AttitudeDL
'''
print(set(df['AttitudeDL']))
dict_AttitudeDL = {'Low': 0, 'High': 1}
df['AttitudeDL'] = df['AttitudeDL'].replace(dict_AttitudeDL)

{'Low', 'High'}

In [594]:
'''
AggressionDL
'''
print(set(df['AggressionDL']))
dict_AggressionDL = {'Low': 0, 'High': 1}
df['AggressionDL'] = df['AggressionDL'].replace(dict_AggressionDL)

{'Low', 'High'}

In [595]:
'''
LivingCircumstances
'''
print(set(df['LivingCircumstances']))
dict_LivingCircumstances = {'Living with family/friends': 0, 'Living with partner': 1, 'Living alone': 2, 'Bail Hostel/Shelter': 3, 'Homeless' : 4, 'Other' : 5}
df['LivingCircumstances'] = df['LivingCircumstances'].replace(dict_LivingCircumstances)

{'Bail Hostel/Shelter', 'Living with partner', 'Homeless', 'Other', 'Living alone', 'Living with family/friends'}

In [596]:
'''
SocialProtectiveObs
'''
print(set(df['SocialProtectiveObs']))
dict_SocialProtectiveObs = {'None': 0, 'BH': 1, 'SW': 2, 'Both': 3}
df['SocialProtectiveObs'] = df['SocialProtectiveObs'].replace(dict_SocialProtectiveObs)

{'None', 'BH', 'SW', 'Both'}

In [597]:
'''
SocialWithdraw
'''
print(set(df['SocialWithdraw']))
dict_SocialWithdraw = {'No': 0, 'Yes': 1}
df['SocialWithdraw'] = df['SocialWithdraw'].replace(dict_SocialWithdraw)

{'Yes', 'No'}

In [598]:
'''
ViolentConvictionsRate
'''
print(set(df['ViolentConvictionsRate']))
dict_ViolentConvictionsRate = {'VeryLow': 0, 'Low': 1, 'VeryHigh': 2, 'High': 3}
df['ViolentConvictionsRate'] = df['ViolentConvictionsRate'].replace(dict_ViolentConvictionsRate)

{'VeryHigh', 'Low', 'High', 'VeryLow'}

In [599]:
'''
ViolentConvRateGivenProt
'''
print(set(df['ViolentConvRateGivenProt']))
dict_ViolentConvRateGivenProt = {'VeryLow': 0, 'Low': 1, 'VeryHigh': 2, 'High': 3}
df['ViolentConvRateGivenProt'] = df['ViolentConvRateGivenProt'].replace(dict_ViolentConvRateGivenProt)

{'VeryHigh', 'Low', 'High', 'VeryLow'}

In [600]:
'''
Depression
'''
print(set(df['Depression']))
dict_Depression = {'No': 0, 'Yes': 1}
df['Depression'] = df['Depression'].replace(dict_Depression)

{'Yes', 'No'}

In [601]:
'''
DepressionPT
'''
print(set(df['DepressionPT']))
dict_DepressionPT = {'No': 0, 'Yes': 1}
df['DepressionPT'] = df['DepressionPT'].replace(dict_DepressionPT)

{'Yes', 'No'}

In [602]:
'''
Anxiety
'''
print(set(df['Anxiety']))
dict_Anxiety = {'No': 0, 'Yes': 1}
df['Anxiety'] = df['Anxiety'].replace(dict_Anxiety)

{'Yes', 'No'}

In [603]:
'''
AnxietyPT
'''
print(set(df['AnxietyPT']))
dict_AnxietyPT = {'No': 0, 'Yes': 1}
df['AnxietyPT'] = df['AnxietyPT'].replace(dict_AnxietyPT)

{'Yes', 'No'}

In [604]:
'''
ThoughtInsertion
'''
print(set(df['ThoughtInsertion']))
dict_ThoughtInsertion = {'No': 0, 'Yes': 1}
df['ThoughtInsertion'] = df['ThoughtInsertion'].replace(dict_ThoughtInsertion)

{'Yes', 'No'}

In [605]:
'''
ThoughtInsertionPT
'''
print(set(df['ThoughtInsertionPT']))
dict_ThoughtInsertionPT = {'No': 0, 'Yes': 1}
df['ThoughtInsertionPT'] = df['ThoughtInsertionPT'].replace(dict_ThoughtInsertionPT)

{'Yes', 'No'}

In [606]:
'''
Hallucinations
'''
print(set(df['Hallucinations']))
dict_Hallucinations = {'No': 0, 'Yes': 1}
df['Hallucinations'] = df['Hallucinations'].replace(dict_Hallucinations)

{'Yes', 'No'}

In [607]:
'''
HallucinationsPT
'''
print(set(df['HallucinationsPT']))
dict_HallucinationsPT = {'No': 0, 'Yes': 1}
df['HallucinationsPT'] = df['HallucinationsPT'].replace(dict_HallucinationsPT)

{'Yes', 'No'}

In [608]:
'''
StrangeExperiences
'''
print(set(df['StrangeExperiences']))
dict_StrangeExperiences = {'No': 0, 'Yes': 1}
df['StrangeExperiences'] = df['StrangeExperiences'].replace(dict_StrangeExperiences)

{'Yes', 'No'}

In [609]:
'''
StrangeExperiencesPT
'''
print(set(df['StrangeExperiencesPT']))
dict_StrangeExperiencesPT = {'No': 0, 'Yes': 1}
df['StrangeExperiencesPT'] = df['StrangeExperiencesPT'].replace(dict_StrangeExperiencesPT)

{'Yes', 'No'}

In [610]:
'''
ParanoidDelusions
'''
print(set(df['ParanoidDelusions']))
dict_ParanoidDelusions = {'No': 0, 'Yes': 1}
df['ParanoidDelusions'] = df['ParanoidDelusions'].replace(dict_ParanoidDelusions)

{'Yes', 'No'}

In [611]:
'''
ParanoidDelusionsPT
'''
print(set(df['ParanoidDelusionsPT']))
dict_ParanoidDelusionsPT = {'No': 0, 'Yes': 1}
df['ParanoidDelusionsPT'] = df['ParanoidDelusionsPT'].replace(dict_ParanoidDelusionsPT)

{'Yes', 'No'}

In [612]:
'''
PsychiatricTreatment
'''
print(set(df['PsychiatricTreatment']))
dict_PsychiatricTreatment = {'No': 0, 'Yes': 1}
df['PsychiatricTreatment'] = df['PsychiatricTreatment'].replace(dict_PsychiatricTreatment)

{'Yes', 'No'}

In [613]:
'''
PsychiatricTreatmentGivenRFAT
'''
print(set(df['PsychiatricTreatmentGivenRFAT']))
dict_PsychiatricTreatmentGivenRFAT = {'No': 0, 'Yes': 1}
df['PsychiatricTreatmentGivenRFAT'] = df['PsychiatricTreatmentGivenRFAT'].replace(dict_PsychiatricTreatmentGivenRFAT)

{'Yes', 'No'}

In [614]:
'''
MentalIllnessSymptomCount
'''
print(set(df['MentalIllnessSymptomCount']))
dict_MentalIllnessSymptomCount = {'None': 0, 'MentalNPD': 1, 'ParanoidDelusions' : 2}
df['MentalIllnessSymptomCount'] = df['MentalIllnessSymptomCount'].replace(dict_MentalIllnessSymptomCount)

{'None', 'MentalNPD', 'ParanoidDelusions'}

In [615]:
'''
MentalIllnessDL
'''
print(set(df['MentalIllnessDL']))
dict_MentalIllnessDL = {'Low': 0, 'High': 1}
df['MentalIllnessDL'] = df['MentalIllnessDL'].replace(dict_MentalIllnessDL)

{'Low', 'High'}

In [4]:
import pandas as pd
df_andes = pd.read_csv(r'C:\Users\User\Documents\GitHub\ML_FYP\dataset\andes.csv')

In [8]:
len_k = []
for i in list(df_andes):
    k = set(df_andes[i])
    print(k , len(k))
    len_k.append(len(k))

{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2
{0, 1} 2

In [11]:
df_andes.loc[-1] = len_k

In [13]:
df_andes

,DISPLACEM0,RApp1,SNode_3,GIVEN_1,RApp2,SNode_8,SNode_16,SNode_20,NEED1,SNode_21,...,TRY76,GOAL_150,APPLY77,SNode_151,GRAV78,GOAL_153,SNode_155,SNode_14,SNode_18,SNode_19
0,0,0,1,1,1,1,1,0,0,0,...,0,0,0,1,0,0,0,1,1,1
1,1,1,1,1,1,1,1,1,1,1,...,1,1,0,0,0,1,0,1,1,1
2,1,1,1,1,1,1,1,1,1,0,...,0,0,0,0,0,0,0,1,1,1
3,1,1,1,1,1,1,1,0,0,1,...,0,0,1,0,0,0,0,1,1,1
4,1,1,1,1,1,1,1,1,1,0,...,0,0,1,1,0,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,1,1,1,1,1,1,1,1,1,0,...,0,0,1,1,0,0,0,1,1,1
9997,0,0,1,1,1,1,1,0,0,0,...,1,1,1,1,1,0,0,1,1,1
9998,0,0,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,0,1,1,1
9999,0,0,1,1,1,1,1,0,0,0,...,0,0,1,0,1,0,0,1,1,1
-1,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [14]:
df_andes.index = df_andes.index + 1 
df_andes = df_andes.sort_index()

In [17]:
pd.DataFrame()

### DIARRHOAE

In [75]:
df = pd.read_csv(r'DIARRHOEA_DATA.csv')

In [76]:
for i in list(df):
    print(set(df[i]))

{'No', 'Yes'}
{'Less than 3 months', '3 months to 2 years', 'More than 2 years'}
{'Within 3 hours', 'Immediately', 'More than 3 hours'}
{'2 years', '4 years', 'Less than 1 year', '1 year', '3 years'}
{'Underweight', 'Very underweight', 'Slightly underwight or above'}
{'Language group 3', 'Language group 2', 'Language group 1'}
{'Muslim', 'Other', 'Hindu'}
{'Average or above', 'Very small', 'Small'}
{'No', 'Yes'}
{'Average or below', 'Richer', 'Richest'}
{'3 or more children', '1 child', '2 children'}
{'No', 'Yes'}
{'Region 3', 'Region 4', 'Region 2', 'Region 1'}
{'Agricultural etc', 'Non-agricultural'}
{'No walls etc', 'Mud or stone etc', 'Grass/Burnt Bricks'}
{'No', 'Yes'}
{'No', 'Yes'}
{'No', 'Yes'}
{'Frequently', 'Moderate or None'}
{'No education', 'Above primary', 'Primary'}
{'25+', 'upto 24'}
{'No', 'Yes'}
{'No', 'Yes'}
{'No', 'Somewhat', 'Yes'}
{'No', 'Yes'}
{'Into garbage', 'Used toilet/latrine', 'Other'}
{'No', 'Yes'}
{'No', 'Yes'}

In [77]:
for i in list(df):
    if set(df[i]) == {'Yes', 'No'} or {'No', 'Yes'}:
        df[i] = df[i].replace(dict_BF_BottleFeeding)

In [78]:
df

,BF_BottleFeeding,BF_BreastfedMonths,BF_EarlyBreastfeeding,CHI_Age,CHI_Weight4Height,CUL_LanguageGroup,CUL_Religion,DEL_SmallBaby,DIA_HadDiarrhoea,ECO_WealthQuintile,...,KNW_WatchTV,MTH_Education,MTH_MaternalAge,SRV_Near,SRV_OKAlone,WSH_ImprovedToilet,WSH_ImprovedWaterSource,WSH_SafeStoolDisposal,WSH_WashWithAgent,WSH_WaterTreated
0,0,Less than 3 months,Immediately,Less than 1 year,Slightly underwight or above,Language group 3,Hindu,Average or above,0,Average or below,...,Frequently,Primary,25+,1,0,1,1,Used toilet/latrine,1,0
1,0,3 months to 2 years,Within 3 hours,1 year,Underweight,Language group 3,Hindu,Average or above,0,Richer,...,Frequently,No education,25+,1,1,1,0,Other,1,0
2,0,3 months to 2 years,More than 3 hours,Less than 1 year,Underweight,Language group 1,Hindu,Average or above,1,Average or below,...,Moderate or None,Above primary,upto 24,1,1,0,0,Into garbage,0,0
3,0,Less than 3 months,Immediately,Less than 1 year,Slightly underwight or above,Language group 2,Hindu,Small,0,Richer,...,Moderate or None,No education,upto 24,1,1,1,1,Other,1,0
4,0,3 months to 2 years,Within 3 hours,1 year,Underweight,Language group 2,Hindu,Average or above,0,Richer,...,Frequently,Above primary,25+,1,1,1,1,Other,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0,3 months to 2 years,Within 3 hours,1 year,Very underweight,Language group 2,Other,Average or above,0,Average or below,...,Moderate or None,Primary,25+,1,1,0,0,Into garbage,0,0
99996,0,3 months to 2 years,Immediately,2 years,Very underweight,Language group 1,Muslim,Average or above,0,Average or below,...,Frequently,Above primary,25+,0,1,1,0,Other,1,1
99997,0,3 months to 2 years,More than 3 hours,3 years,Slightly underwight or above,Language group 3,Hindu,Average or above,0,Richest,...,Frequently,Above primary,25+,1,1,1,0,Other,1,0
99998,0,3 months to 2 years,Within 3 hours,1 year,Very underweight,Language group 3,Other,Average or above,0,Richer,...,Moderate or None,Above primary,upto 24,1,1,1,1,Used toilet/latrine,1,0
99999,0,3 months to 2 years,More than 3 hours,1 year,Underweight,Language group 3,Hindu,Average or above,0,Average or below,...,Moderate or None,No education,25+,0,1,1,0,Other,0,0

In [79]:
'''
BF_BottleFeeding
'''
print(set(df['BF_BottleFeeding']))
dict_BF_BottleFeeding = {'No': 0, 'Yes': 1}
df['BF_BottleFeeding'] = df['BF_BottleFeeding'].replace(dict_BF_BottleFeeding)

{0, 1}

In [80]:
'''
BF_BreastfedMonths
'''
print(set(df['BF_BreastfedMonths']))
dict_BF_BreastfedMonths = {'Less than 3 months': 0, '3 months to 2 years': 1, 'More than 2 years' : 2}
df['BF_BreastfedMonths'] = df['BF_BreastfedMonths'].replace(dict_BF_BreastfedMonths)

{'Less than 3 months', '3 months to 2 years', 'More than 2 years'}

In [81]:
'''
BF_EarlyBreastfeeding
'''
print(set(df['BF_EarlyBreastfeeding']))
dict_BF_EarlyBreastfeeding = {'Immediately': 0, 'Within 3 hours': 1, 'More than 3 hours' : 2}
df['BF_EarlyBreastfeeding'] = df['BF_EarlyBreastfeeding'].replace(dict_BF_EarlyBreastfeeding)

{'Within 3 hours', 'Immediately', 'More than 3 hours'}

In [82]:
'''
CHI_Age
'''
print(set(df['CHI_Age']))
dict_CHI_Age = {'Less than 1 year': 0, '1 year' : 1, '2 years': 2, '3 years' : 3, '4 years' : 4}
df['CHI_Age'] = df['CHI_Age'].replace(dict_CHI_Age)

{'2 years', '4 years', 'Less than 1 year', '1 year', '3 years'}

In [83]:
'''
CHI_Weight4Height
'''
print(set(df['CHI_Weight4Height']))
dict_CHI_Weight4Height = {'Very underweight': 0, 'Underweight' : 1, 'Slightly underwight or above': 2}
df['CHI_Weight4Height'] = df['CHI_Weight4Height'].replace(dict_CHI_Weight4Height)

{'Underweight', 'Very underweight', 'Slightly underwight or above'}

In [84]:
'''
CUL_LanguageGroup
'''
print(set(df['CUL_LanguageGroup']))
dict_CUL_LanguageGroup = {'Language group 1': 0, 'Language group 2' : 1, 'Language group 3': 2}
df['CUL_LanguageGroup'] = df['CUL_LanguageGroup'].replace(dict_CUL_LanguageGroup)

{'Language group 3', 'Language group 2', 'Language group 1'}

In [85]:
'''
CUL_Religion
'''
print(set(df['CUL_Religion']))
dict_CUL_Religion = {'Muslim': 0, 'Hindu' : 1, 'Other': 2}
df['CUL_Religion'] = df['CUL_Religion'].replace(dict_CUL_Religion)

{'Muslim', 'Other', 'Hindu'}

In [86]:
'''
DEL_SmallBaby
'''
print(set(df['DEL_SmallBaby']))
dict_DEL_SmallBaby = {'Very small': 0, 'Small' : 1, 'Average or above': 2}
df['DEL_SmallBaby'] = df['DEL_SmallBaby'].replace(dict_DEL_SmallBaby)

{'Average or above', 'Very small', 'Small'}

In [87]:
'''
ECO_WealthQuintile
'''
print(set(df['ECO_WealthQuintile']))
dict_ECO_WealthQuintile = {'Average or below': 0, 'Richer' : 1, 'Richest': 2}
df['ECO_WealthQuintile'] = df['ECO_WealthQuintile'].replace(dict_ECO_WealthQuintile)

{'Average or below', 'Richer', 'Richest'}

In [88]:
'''
FP_BirthsLast5Yrs
'''
print(set(df['FP_BirthsLast5Yrs']))
dict_FP_BirthsLast5Yrs = {'1 child': 0, '2 children' : 1, '3 or more children': 2}
df['FP_BirthsLast5Yrs'] = df['FP_BirthsLast5Yrs'].replace(dict_FP_BirthsLast5Yrs)

{'3 or more children', '1 child', '2 children'}

In [89]:
'''
GEO_Region
'''
print(set(df['GEO_Region']))
dict_GEO_Region = {'Region 1': 0, 'Region 2' : 1, 'Region 3': 2, 'Region 4' : 3}
df['GEO_Region'] = df['GEO_Region'].replace(dict_GEO_Region)

{'Region 3', 'Region 4', 'Region 2', 'Region 1'}

In [90]:
'''
HOU_CookingFuel
'''
print(set(df['HOU_CookingFuel']))
dict_HOU_CookingFuel = {'Non-agricultural': 0, 'Agricultural etc' : 1}
df['HOU_CookingFuel'] = df['HOU_CookingFuel'].replace(dict_HOU_CookingFuel)

{'Agricultural etc', 'Non-agricultural'}

In [91]:
'''
HOU_ModernWallMaterial
'''
print(set(df['HOU_ModernWallMaterial']))
dict_HOU_ModernWallMaterial = {'No walls etc': 0, 'Mud or stone etc' : 1, 'Grass/Burnt Bricks' : 2}
df['HOU_ModernWallMaterial'] = df['HOU_ModernWallMaterial'].replace(dict_HOU_ModernWallMaterial)

{'No walls etc', 'Mud or stone etc', 'Grass/Burnt Bricks'}

In [92]:
'''
KNW_WatchTV
'''
print(set(df['KNW_WatchTV']))
dict_KNW_WatchTV = {'Moderate or None': 0, 'Frequently' : 1}
df['KNW_WatchTV'] = df['KNW_WatchTV'].replace(dict_KNW_WatchTV)

{'Frequently', 'Moderate or None'}

In [93]:
'''
MTH_Education
'''
print(set(df['MTH_Education']))
dict_MTH_Education = {'No education': 0, 'Primary' : 1, 'Above primary' : 2}
df['MTH_Education'] = df['MTH_Education'].replace(dict_MTH_Education)

{'No education', 'Above primary', 'Primary'}

In [94]:
'''
MTH_MaternalAge
'''
print(set(df['MTH_MaternalAge']))
dict_MTH_MaternalAge = {'upto 24': 0, '25+' : 1}
df['MTH_MaternalAge'] = df['MTH_MaternalAge'].replace(dict_MTH_MaternalAge)

{'25+', 'upto 24'}

In [100]:
'''
WSH_ImprovedToilet 
'''
print(set(df['WSH_ImprovedToilet']))
dict_WSH_ImprovedToilet = {'Somewhat' : 2}
df['WSH_ImprovedToilet'] = df['WSH_ImprovedToilet'].replace(dict_WSH_ImprovedToilet)

{0, 1, 2}

In [95]:
'''
WSH_SafeStoolDisposal
'''
print(set(df['WSH_SafeStoolDisposal']))
dict_WSH_SafeStoolDisposal = {'Into garbage': 0, 'Used toilet/latrine' : 1, 'Other' : 2}
df['WSH_SafeStoolDisposal'] = df['WSH_SafeStoolDisposal'].replace(dict_WSH_SafeStoolDisposal)

{'Into garbage', 'Used toilet/latrine', 'Other'}

In [105]:
k = []
for i in list(df):
#     print(i ,set(df[i]))
    k.append(len(set(df[i])))

In [106]:
df.loc[-1] = k

In [108]:
df.index = df.index + 1

In [112]:
df.sort_index().to_csv('diarrhoe.csv')

### this is a pause

In [126]:
data = pd.read_csv(r'C:\Users\User\Documents\GitHub\ML_FYP\dataset\unprocessed\diabetes.csv')

In [127]:
for i in list(data):
    all_data = data[i].unique()
    brand_dic = dict(zip(all_data, range(len(all_data))))
    data[i] = data[i].replace(brand_dic)

In [128]:
empty = []
for i in list(data):
#     print(set(data[i]))
    empty.append(len(set(data[i])))

In [129]:
data.loc[-1] = empty
data.index = data.index + 1
data = data.sort_index()

In [130]:
data

,cho_init,ins_sens,meal_0,cho_0,bg_0,activ_ins_0,ins_abs_0,gut_abs_0,renal_cl_0,ins_indep_util_0,...,ins_indep_23,ins_dep_23,endo_bal_23,cho_bal_23,basal_bal_23,met_irr_23,tot_bal_23,meal_24,cho_24,bg_24
0,16,5,21,21,11,10,11,6,2,3,...,4,13,16,16,18,7,15,21,21,11
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,1,1,0,0,1,1,0,0,...,1,0,1,1,1,1,1,1,1,1
3,0,2,2,2,1,1,2,2,0,1,...,2,1,1,0,2,2,2,2,2,2
4,1,0,1,3,2,2,3,3,0,1,...,0,1,2,2,1,0,2,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,0,0,8,3,9,6,9,3,1,0,...,0,0,0,3,2,0,5,1,16,0
9997,9,1,1,10,0,2,5,5,0,0,...,0,1,2,3,2,0,5,11,17,0
9998,0,1,1,5,0,2,5,4,0,0,...,1,6,11,3,12,0,12,1,13,0
9999,0,0,1,1,0,4,8,1,0,0,...,0,0,0,2,1,0,2,1,3,0
10000,0,1,0,12,0,4,4,0,0,0,...,1,7,5,6,12,0,12,4,2,0

In [131]:
data.to_csv('diabetes.csv', index=False)