In [19]:
import pandas as pd
import numpy as np
import itertools
from conditional import csv_format_discrete

In [9]:
df = csv_format_discrete(r"C:\Users\User\Documents\GitHub\ML_FYP\dataset\test_2.dat")

In [10]:
df

   A  B  C  D  E
1  3  1  2  3  1
2  0  2  3  2  2
3  0  2  3  4  3
4  1  2  2  3  0
5  3  2  3  4  0
6  1  1  3  4  4
7  2  1  1  3  4
8  2  0  2  0  2

In [17]:
#takes in a pandas dataframe, collects each column of the dataframe and combine it into a list
def split_(df):
    v = list(df)
    empty_0 = []
    for i in list(df):
        column_of_array = df[i].to_numpy()
        empty_0.append(column_of_array)
    return empty_0

In [59]:
#this function essentially obtains all the combinations of the splitted df
def combinations_(df):
    empty_1 = []
    empty_2 = []
    v = split_(df) #call the function split_
    itertools_combinations = list(itertools.combinations(v, 2))
    return itertools_combinations

In [65]:
def append_(df):
    k = combinations_(df)
    return k

In [66]:
append_(df)

[(array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64))]

In [22]:
v = list(df)
empty_0 = []
for i in list(df):
    column_of_array = df[i].to_numpy()
    empty_0.append(column_of_array)
empty_0

[array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
 array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
 array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
 array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64),
 array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)]

In [55]:
new_list = []
v = list(df)
empty_list = []
itertools_combinations = list(itertools.combinations(empty_0, 2))
for i in range(length):

[[],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64))]

In [45]:
length = len(itertools_combinations)
# u = [itertools_combinations]
# u
itertools_combinations

[(array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64))]

In [16]:
empty_0 = []
for i in list(df):
    column_of_array = df[i].to_numpy()
    empty_0.append(column_of_array) 
empty_0

[array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
 array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
 array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
 array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64),
 array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)]

In [12]:
v = list(df)
v

['A', 'B', 'C', 'D', 'E']

In [3]:
v1 = [1,2,3,4,5]
v2 = [2,2,2,2,2]
headers.append(v1)