In [1]:
import pandas as pd
import numpy as np
from pygobnilp.gobnilp import Gobnilp
import pgmpy
import itertools
from pgmpy.estimators.CITests import pearsonr
from pgmpy.estimators.CITests import chi_square
import networkx as nx
import time
import collections

### DIARRHOAE

In [75]:
df = pd.read_csv(r'DIARRHOEA_DATA.csv')

In [76]:
for i in list(df):
    print(set(df[i]))

{'No', 'Yes'}
{'Less than 3 months', '3 months to 2 years', 'More than 2 years'}
{'Within 3 hours', 'Immediately', 'More than 3 hours'}
{'2 years', '4 years', 'Less than 1 year', '1 year', '3 years'}
{'Underweight', 'Very underweight', 'Slightly underwight or above'}
{'Language group 3', 'Language group 2', 'Language group 1'}
{'Muslim', 'Other', 'Hindu'}
{'Average or above', 'Very small', 'Small'}
{'No', 'Yes'}
{'Average or below', 'Richer', 'Richest'}
{'3 or more children', '1 child', '2 children'}
{'No', 'Yes'}
{'Region 3', 'Region 4', 'Region 2', 'Region 1'}
{'Agricultural etc', 'Non-agricultural'}
{'No walls etc', 'Mud or stone etc', 'Grass/Burnt Bricks'}
{'No', 'Yes'}
{'No', 'Yes'}
{'No', 'Yes'}
{'Frequently', 'Moderate or None'}
{'No education', 'Above primary', 'Primary'}
{'25+', 'upto 24'}
{'No', 'Yes'}
{'No', 'Yes'}
{'No', 'Somewhat', 'Yes'}
{'No', 'Yes'}
{'Into garbage', 'Used toilet/latrine', 'Other'}
{'No', 'Yes'}
{'No', 'Yes'}

In [77]:
for i in list(df):
    if set(df[i]) == {'Yes', 'No'} or {'No', 'Yes'}:
        df[i] = df[i].replace(dict_BF_BottleFeeding)

In [78]:
df

,BF_BottleFeeding,BF_BreastfedMonths,BF_EarlyBreastfeeding,CHI_Age,CHI_Weight4Height,CUL_LanguageGroup,CUL_Religion,DEL_SmallBaby,DIA_HadDiarrhoea,ECO_WealthQuintile,...,KNW_WatchTV,MTH_Education,MTH_MaternalAge,SRV_Near,SRV_OKAlone,WSH_ImprovedToilet,WSH_ImprovedWaterSource,WSH_SafeStoolDisposal,WSH_WashWithAgent,WSH_WaterTreated
0,0,Less than 3 months,Immediately,Less than 1 year,Slightly underwight or above,Language group 3,Hindu,Average or above,0,Average or below,...,Frequently,Primary,25+,1,0,1,1,Used toilet/latrine,1,0
1,0,3 months to 2 years,Within 3 hours,1 year,Underweight,Language group 3,Hindu,Average or above,0,Richer,...,Frequently,No education,25+,1,1,1,0,Other,1,0
2,0,3 months to 2 years,More than 3 hours,Less than 1 year,Underweight,Language group 1,Hindu,Average or above,1,Average or below,...,Moderate or None,Above primary,upto 24,1,1,0,0,Into garbage,0,0
3,0,Less than 3 months,Immediately,Less than 1 year,Slightly underwight or above,Language group 2,Hindu,Small,0,Richer,...,Moderate or None,No education,upto 24,1,1,1,1,Other,1,0
4,0,3 months to 2 years,Within 3 hours,1 year,Underweight,Language group 2,Hindu,Average or above,0,Richer,...,Frequently,Above primary,25+,1,1,1,1,Other,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0,3 months to 2 years,Within 3 hours,1 year,Very underweight,Language group 2,Other,Average or above,0,Average or below,...,Moderate or None,Primary,25+,1,1,0,0,Into garbage,0,0
99996,0,3 months to 2 years,Immediately,2 years,Very underweight,Language group 1,Muslim,Average or above,0,Average or below,...,Frequently,Above primary,25+,0,1,1,0,Other,1,1
99997,0,3 months to 2 years,More than 3 hours,3 years,Slightly underwight or above,Language group 3,Hindu,Average or above,0,Richest,...,Frequently,Above primary,25+,1,1,1,0,Other,1,0
99998,0,3 months to 2 years,Within 3 hours,1 year,Very underweight,Language group 3,Other,Average or above,0,Richer,...,Moderate or None,Above primary,upto 24,1,1,1,1,Used toilet/latrine,1,0
99999,0,3 months to 2 years,More than 3 hours,1 year,Underweight,Language group 3,Hindu,Average or above,0,Average or below,...,Moderate or None,No education,25+,0,1,1,0,Other,0,0

In [79]:
'''
BF_BottleFeeding
'''
print(set(df['BF_BottleFeeding']))
dict_BF_BottleFeeding = {'No': 0, 'Yes': 1}
df['BF_BottleFeeding'] = df['BF_BottleFeeding'].replace(dict_BF_BottleFeeding)

{0, 1}

In [80]:
'''
BF_BreastfedMonths
'''
print(set(df['BF_BreastfedMonths']))
dict_BF_BreastfedMonths = {'Less than 3 months': 0, '3 months to 2 years': 1, 'More than 2 years' : 2}
df['BF_BreastfedMonths'] = df['BF_BreastfedMonths'].replace(dict_BF_BreastfedMonths)

{'Less than 3 months', '3 months to 2 years', 'More than 2 years'}

In [81]:
'''
BF_EarlyBreastfeeding
'''
print(set(df['BF_EarlyBreastfeeding']))
dict_BF_EarlyBreastfeeding = {'Immediately': 0, 'Within 3 hours': 1, 'More than 3 hours' : 2}
df['BF_EarlyBreastfeeding'] = df['BF_EarlyBreastfeeding'].replace(dict_BF_EarlyBreastfeeding)

{'Within 3 hours', 'Immediately', 'More than 3 hours'}

In [82]:
'''
CHI_Age
'''
print(set(df['CHI_Age']))
dict_CHI_Age = {'Less than 1 year': 0, '1 year' : 1, '2 years': 2, '3 years' : 3, '4 years' : 4}
df['CHI_Age'] = df['CHI_Age'].replace(dict_CHI_Age)

{'2 years', '4 years', 'Less than 1 year', '1 year', '3 years'}

In [83]:
'''
CHI_Weight4Height
'''
print(set(df['CHI_Weight4Height']))
dict_CHI_Weight4Height = {'Very underweight': 0, 'Underweight' : 1, 'Slightly underwight or above': 2}
df['CHI_Weight4Height'] = df['CHI_Weight4Height'].replace(dict_CHI_Weight4Height)

{'Underweight', 'Very underweight', 'Slightly underwight or above'}

In [84]:
'''
CUL_LanguageGroup
'''
print(set(df['CUL_LanguageGroup']))
dict_CUL_LanguageGroup = {'Language group 1': 0, 'Language group 2' : 1, 'Language group 3': 2}
df['CUL_LanguageGroup'] = df['CUL_LanguageGroup'].replace(dict_CUL_LanguageGroup)

{'Language group 3', 'Language group 2', 'Language group 1'}

In [85]:
'''
CUL_Religion
'''
print(set(df['CUL_Religion']))
dict_CUL_Religion = {'Muslim': 0, 'Hindu' : 1, 'Other': 2}
df['CUL_Religion'] = df['CUL_Religion'].replace(dict_CUL_Religion)

{'Muslim', 'Other', 'Hindu'}

In [86]:
'''
DEL_SmallBaby
'''
print(set(df['DEL_SmallBaby']))
dict_DEL_SmallBaby = {'Very small': 0, 'Small' : 1, 'Average or above': 2}
df['DEL_SmallBaby'] = df['DEL_SmallBaby'].replace(dict_DEL_SmallBaby)

{'Average or above', 'Very small', 'Small'}

In [87]:
'''
ECO_WealthQuintile
'''
print(set(df['ECO_WealthQuintile']))
dict_ECO_WealthQuintile = {'Average or below': 0, 'Richer' : 1, 'Richest': 2}
df['ECO_WealthQuintile'] = df['ECO_WealthQuintile'].replace(dict_ECO_WealthQuintile)

{'Average or below', 'Richer', 'Richest'}

In [88]:
'''
FP_BirthsLast5Yrs
'''
print(set(df['FP_BirthsLast5Yrs']))
dict_FP_BirthsLast5Yrs = {'1 child': 0, '2 children' : 1, '3 or more children': 2}
df['FP_BirthsLast5Yrs'] = df['FP_BirthsLast5Yrs'].replace(dict_FP_BirthsLast5Yrs)

{'3 or more children', '1 child', '2 children'}

In [89]:
'''
GEO_Region
'''
print(set(df['GEO_Region']))
dict_GEO_Region = {'Region 1': 0, 'Region 2' : 1, 'Region 3': 2, 'Region 4' : 3}
df['GEO_Region'] = df['GEO_Region'].replace(dict_GEO_Region)

{'Region 3', 'Region 4', 'Region 2', 'Region 1'}

In [90]:
'''
HOU_CookingFuel
'''
print(set(df['HOU_CookingFuel']))
dict_HOU_CookingFuel = {'Non-agricultural': 0, 'Agricultural etc' : 1}
df['HOU_CookingFuel'] = df['HOU_CookingFuel'].replace(dict_HOU_CookingFuel)

{'Agricultural etc', 'Non-agricultural'}

In [91]:
'''
HOU_ModernWallMaterial
'''
print(set(df['HOU_ModernWallMaterial']))
dict_HOU_ModernWallMaterial = {'No walls etc': 0, 'Mud or stone etc' : 1, 'Grass/Burnt Bricks' : 2}
df['HOU_ModernWallMaterial'] = df['HOU_ModernWallMaterial'].replace(dict_HOU_ModernWallMaterial)

{'No walls etc', 'Mud or stone etc', 'Grass/Burnt Bricks'}

In [92]:
'''
KNW_WatchTV
'''
print(set(df['KNW_WatchTV']))
dict_KNW_WatchTV = {'Moderate or None': 0, 'Frequently' : 1}
df['KNW_WatchTV'] = df['KNW_WatchTV'].replace(dict_KNW_WatchTV)

{'Frequently', 'Moderate or None'}

In [93]:
'''
MTH_Education
'''
print(set(df['MTH_Education']))
dict_MTH_Education = {'No education': 0, 'Primary' : 1, 'Above primary' : 2}
df['MTH_Education'] = df['MTH_Education'].replace(dict_MTH_Education)

{'No education', 'Above primary', 'Primary'}

In [94]:
'''
MTH_MaternalAge
'''
print(set(df['MTH_MaternalAge']))
dict_MTH_MaternalAge = {'upto 24': 0, '25+' : 1}
df['MTH_MaternalAge'] = df['MTH_MaternalAge'].replace(dict_MTH_MaternalAge)

{'25+', 'upto 24'}

In [100]:
'''
WSH_ImprovedToilet 
'''
print(set(df['WSH_ImprovedToilet']))
dict_WSH_ImprovedToilet = {'Somewhat' : 2}
df['WSH_ImprovedToilet'] = df['WSH_ImprovedToilet'].replace(dict_WSH_ImprovedToilet)

{0, 1, 2}

In [95]:
'''
WSH_SafeStoolDisposal
'''
print(set(df['WSH_SafeStoolDisposal']))
dict_WSH_SafeStoolDisposal = {'Into garbage': 0, 'Used toilet/latrine' : 1, 'Other' : 2}
df['WSH_SafeStoolDisposal'] = df['WSH_SafeStoolDisposal'].replace(dict_WSH_SafeStoolDisposal)

{'Into garbage', 'Used toilet/latrine', 'Other'}

In [105]:
k = []
for i in list(df):
#     print(i ,set(df[i]))
    k.append(len(set(df[i])))

In [106]:
df.loc[-1] = k

In [108]:
df.index = df.index + 1

In [112]:
df.sort_index().to_csv('diarrhoe.csv')

### this is a pause

In [126]:
data = pd.read_csv(r'C:\Users\User\Documents\GitHub\ML_FYP\dataset\unprocessed\diabetes.csv')

In [127]:
for i in list(data):
    all_data = data[i].unique()
    brand_dic = dict(zip(all_data, range(len(all_data))))
    data[i] = data[i].replace(brand_dic)

In [128]:
empty = []
for i in list(data):
#     print(set(data[i]))
    empty.append(len(set(data[i])))

In [129]:
data.loc[-1] = empty
data.index = data.index + 1
data = data.sort_index()

In [130]:
data

,cho_init,ins_sens,meal_0,cho_0,bg_0,activ_ins_0,ins_abs_0,gut_abs_0,renal_cl_0,ins_indep_util_0,...,ins_indep_23,ins_dep_23,endo_bal_23,cho_bal_23,basal_bal_23,met_irr_23,tot_bal_23,meal_24,cho_24,bg_24
0,16,5,21,21,11,10,11,6,2,3,...,4,13,16,16,18,7,15,21,21,11
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,1,1,0,0,1,1,0,0,...,1,0,1,1,1,1,1,1,1,1
3,0,2,2,2,1,1,2,2,0,1,...,2,1,1,0,2,2,2,2,2,2
4,1,0,1,3,2,2,3,3,0,1,...,0,1,2,2,1,0,2,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,0,0,8,3,9,6,9,3,1,0,...,0,0,0,3,2,0,5,1,16,0
9997,9,1,1,10,0,2,5,5,0,0,...,0,1,2,3,2,0,5,11,17,0
9998,0,1,1,5,0,2,5,4,0,0,...,1,6,11,3,12,0,12,1,13,0
9999,0,0,1,1,0,4,8,1,0,0,...,0,0,0,2,1,0,2,1,3,0
10000,0,1,0,12,0,4,4,0,0,0,...,1,7,5,6,12,0,12,4,2,0

In [131]:
data.to_csv('diabetes.csv', index=False)