In [12]:
from conditional import chi_square_CI
from conditional import csv_format_discrete
import pandas as pd
from conditional import chi_square_CI_test

In [6]:
df = csv_format_discrete(r'C:\Users\User\Documents\GitHub\ML_FYP\dataset\test_2.dat')

In [7]:
df

      0    1   2
1  MALE  180  18
2  MALE  192  19
3  MALE  150  15
4  MALE  176  18
5  MALE  169  17
6  MALE  168  17
7  MALE  170  17

In [8]:
chi_square_CI(df)

[[0, [('0', '1'), True]], [1, [('0', '2'), True]], [2, [('1', '2'), False]]]

In [9]:
#constraint based algorithms - PC , GS, Inter-IAMB

In [13]:
chi_square_CI_test(df)

[[0, [('0', '1'), (0.0, 1.0, 0)]],
 [1, [('0', '2'), (0.0, 1.0, 0)]],
 [2, [('1', '2'), (21.000000000000004, 0.27941304786236815, 18)]]]