In [11]:
import pandas as pd
from scipy.stats import chi2_contingency
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
df = pd.read_excel('discrete.xlsx')
df_ = df.drop([0])
df_

      A  B  C  D  E  F
1     b  c  b  a  b  b
2     b  a  c  a  b  b
3     a  a  a  a  a  a
4     a  a  a  a  b  b
5     a  a  b  c  a  a
...  .. .. .. .. .. ..
4996  a  a  a  a  a  a
4997  c  c  b  b  c  a
4998  b  b  a  b  c  b
4999  a  c  b  c  c  a
5000  a  a  a  a  b  b

[5000 rows x 6 columns]

In [19]:
contigency = pd.crosstab([df_['A'], df_['B']], df_['C']) 
contigency

C       a    b   c
A B
a a  1047  312  69
  b    36    5   1
  c   147   37  14
b a   540  157  46
  b   281   74  14
  c   422  111  25
c a   142   41   8
  b   121   30   6
  c   981  257  76

In [21]:
c, p, dof, expected = chi2_contingency(contigency)

In [22]:
p

0.6433592457390875

In [9]:
read_file = pd.read_csv('discrete.dat', sep='\s+\|\s+')
read_file.to_csv ('discrete.csv', index=None)

C:\Users\User\AppData\Local\Temp\ipykernel_17660\3975890815.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  read_file = pd.read_csv('discrete.dat', sep='\s+\|\s+')