In [64]:
import pandas as pd
import numpy as np
import itertools
from scipy.stats import chi2_contingency
from conditional import csv_format_discrete
from scipy.stats import chi2

In [2]:
df = csv_format_discrete(r"C:\Users\User\Documents\GitHub\ML_FYP\dataset\test_2.dat")

In [3]:
df

   A  B  C  D  E
1  3  1  2  3  1
2  0  2  3  2  2
3  0  2  3  4  3
4  1  2  2  3  0
5  3  2  3  4  0
6  1  1  3  4  4
7  2  1  1  3  4
8  2  0  2  0  2

In [4]:
#takes in a pandas dataframe, collects each column of the dataframe and combine it into a list
def split_(df):
    v = list(df)
    empty_0 = []
    for i in list(df):
        column_of_array = df[i].to_numpy()
        empty_0.append(column_of_array)
    return empty_0

In [5]:
#this function essentially obtains all the combinations of the splitted df
def combinations_(df):
    empty_1 = []
    empty_2 = []
    v = split_(df) #call the function split_
    itertools_combinations = list(itertools.combinations(v, 2))
    return itertools_combinations
#returns a list of combinations

In [150]:
def chi2bool(chi):
    chi = chi2_contingency(chi)
    chi_squared = chi[0]
    dof = chi[2]
    critical_value = chi2.ppf(0.95, dof)
    if chi[1] >  critical_value:
        print("since chi2 =", chi[1] , "is more than the critical value =" , critical_value , ", we reject the null hypothesis") 
    else: 
        print("since chi2 =" , chi[1] , "is less than the critical value =" , critical_value , ", we do not reject the null hypothesis")

In [153]:
for i in p_list:
    print(chi2bool(i))

since chi2 = 0.3470951089625462 is less than the critical value = 14.067140449340169 , we do not reject the null hypothesis
None
since chi2 = 0.4690756607381139 is less than the critical value = 14.067140449340169 , we do not reject the null hypothesis
None
since chi2 = 0.2883353008544251 is less than the critical value = 14.067140449340169 , we do not reject the null hypothesis
None
since chi2 = 0.09595147193176176 is less than the critical value = 14.067140449340169 , we do not reject the null hypothesis
None
since chi2 = 0.9632026186405215 is less than the critical value = 14.067140449340169 , we do not reject the null hypothesis
None

ValueError: The internally computed table of expected frequencies has a zero element at (0, 7).

In [149]:
combine = combinations_(df)
chi2_contingency(combine[0])

(7.838005050505051,
 0.3470951089625462,
 7,
 array([[2.08695652, 1.04347826, 1.04347826, 1.56521739, 2.60869565,
         1.04347826, 1.56521739, 1.04347826],
        [1.91304348, 0.95652174, 0.95652174, 1.43478261, 2.39130435,
         0.95652174, 1.43478261, 0.95652174]]))

In [142]:
p_list[0]

[[3, 0, 0, 1, 3, 1, 2, 2], [1, 2, 2, 2, 2, 1, 1, 0]]

In [141]:
chi2bool(p_list[1])

IndexError: list index out of range

In [144]:
chi2bool(p[0])

IndexError: index 2 is out of bounds for axis 0 with size 2

In [133]:
p_list = p.tolist()
p_chi2 = chi2_contingency(p_list)
p_chi2

(93.69843991031675,
 0.9993928334618812,
 142,
 array([[[1.24447493, 1.12002743, 1.49336991, 0.99557994, 1.49336991,
          1.61781741, 1.36892242, 0.74668496],
         [1.59503125, 1.43552812, 1.91403749, 1.276025  , 1.91403749,
          2.07354062, 1.75453437, 0.95701875]],

        [[1.67733577, 1.50960219, 2.01280293, 1.34186862, 2.01280293,
          2.1805365 , 1.84506935, 1.00640146],
         [2.14982472, 1.93484225, 2.57978967, 1.71985978, 2.57978967,
          2.79477214, 2.36480719, 1.28989483]],

        [[1.89376619, 1.70438957, 2.27251943, 1.51501296, 2.27251943,
          2.46189605, 2.08314281, 1.13625972],
         [2.42722146, 2.18449931, 2.91266575, 1.94177717, 2.91266575,
          3.1553879 , 2.66994361, 1.45633288]],

        [[1.51501296, 1.36351166, 1.81801555, 1.21201036, 1.81801555,
          1.96951684, 1.66651425, 0.90900777],
         [1.94177717, 1.74759945, 2.3301326 , 1.55342173, 2.3301326 ,
          2.52431032, 2.13595488, 1.1650663 ]],

        [[1.62322817, 1.46090535, 1.9478738 , 1.29858253, 1.9478738 ,
          2.11019662, 1.78555098, 0.9739369 ],
         [2.08047554, 1.87242798, 2.49657064, 1.66438043, 2.49657064,
          2.7046182 , 2.28852309, 1.24828532]],

        [[1.83965859, 1.65569273, 2.20759031, 1.47172687, 2.20759031,
          2.39155617, 2.02362445, 1.10379515],
         [2.35787228, 2.12208505, 2.82944673, 1.88629782, 2.82944673,
          3.06523396, 2.5936595 , 1.41472337]],

        [[1.46090535, 1.31481481, 1.75308642, 1.16872428, 1.75308642,
          1.89917695, 1.60699588, 0.87654321],
         [1.87242798, 1.68518519, 2.24691358, 1.49794239, 2.24691358,
          2.43415638, 2.05967078, 1.12345679]],

        [[2.27251943, 2.04526749, 2.72702332, 1.81801555, 2.72702332,
          2.95427526, 2.49977138, 1.36351166],
         [2.91266575, 2.62139918, 3.4951989 , 2.3301326 , 3.4951989 ,
          3.78646548, 3.20393233, 1.74759945]],

        [[1.89376619, 1.70438957, 2.27251943, 1.51501296, 2.27251943,
          2.46189605, 2.08314281, 1.13625972],
         [2.42722146, 2.18449931, 2.91266575, 1.94177717, 2.91266575,
          3.1553879 , 2.66994361, 1.45633288]],

        [[2.11019662, 1.89917695, 2.53223594, 1.68815729, 2.53223594,
          2.7432556 , 2.32121628, 1.26611797],
         [2.7046182 , 2.43415638, 3.24554184, 2.16369456, 3.24554184,
          3.51600366, 2.97508002, 1.62277092]]]))

In [124]:
chi2bool(p_chi2)

since chi2 = 0.4690756607381139 is less than the critical value = 14.067140449340169 , we do not reject the null hypothesis

we accept the null hypothesis

2.167349909298057

In [67]:
chi2bool(p_chi2)

AttributeError: 'numpy.float64' object has no attribute 'ppf'

In [ ]:
def chi2(df):
    empty = []
    v = combinations_(df)
    u = len(v)
    for i in range(u):
        t = chi2_contingency(v[i])
        print(t)
#         empty.append(t)
#     return empty

In [ ]:
chi2(df)

In [ ]:
v =combinations_(df)
np.array(v[i])

In [ ]:
def list_multiplier(df):
    new_list = []
    for i in range(len(df)):
        new_list = [i]
    return new_list

In [ ]:
def append_(df):
    empty = []
    k = combinations_(df)
    v = len(k)
    for i in k:
        test = []
        test[i] = k[i]
        return test

In [ ]:
combinations_(df)[i]

In [ ]:
empty = []
k = combinations_(df)
v = len(k)
for i in range(v):
    a_i = k[i]
    print(a_i)
#     empty[i] = (k[i])
#         print(test)
    #     test = []
#     test[i] = k[i]
#     print(test)

In [125]:
for i in range(10):
  a_i = [i] #Stores the corresponding value of i in each a_i list.
  print(a_i)

[0]
[1]
[2]
[3]
[4]
[5]
[6]
[7]
[8]
[9]

In [108]:
using = []
for i in test:
    print(i)
#     x = i.tolist()
#     using.append(x)
# using

(array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64), array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64))

In [74]:
test_list = [2]
test_2 = test_list * 3 
for i in range(v_length):

[]

In [69]:
v = append_(df)
v_length = len(v)
#take v[i] out of v for i number of list

In [22]:
v = list(df)
empty_0 = []
for i in list(df):
    column_of_array = df[i].to_numpy()
    empty_0.append(column_of_array)
empty_0

[array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
 array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
 array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
 array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64),
 array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)]

In [55]:
new_list = []
v = list(df)
empty_list = []
itertools_combinations = list(itertools.combinations(empty_0, 2))
for i in range(length):

[[],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64))]

In [45]:
length = len(itertools_combinations)
# u = [itertools_combinations]
# u
itertools_combinations

[(array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64))]

In [16]:
empty_0 = []
for i in list(df):
    column_of_array = df[i].to_numpy()
    empty_0.append(column_of_array) 
empty_0

[array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
 array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
 array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
 array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64),
 array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)]

In [12]:
v = list(df)
v

['A', 'B', 'C', 'D', 'E']

In [3]:
v1 = [1,2,3,4,5]
v2 = [2,2,2,2,2]
headers.append(v1)