In [110]:
import pandas as pd
import numpy as np
import itertools
from scipy.stats import chi2_contingency
from conditional import csv_format_discrete
from scipy.stats import chi2

In [71]:
df = csv_format_discrete(r"C:\Users\User\Documents\GitHub\ML_FYP\dataset\test_2.dat")

In [72]:
df

   A  B  C  D  E
1  3  3  2  3  1
2  0  2  3  2  2
3  0  2  3  4  3
4  1  2  2  3  0
5  3  4  3  4  0
6  1  1  3  4  4
7  2  1  1  3  4
8  2  2  2  0  2

In [73]:
#takes in a pandas dataframe, collects each column of the dataframe and combine it into a list
def split_(df):
    v = list(df)
    empty_0 = []
    for i in list(df):
        column_of_array = df[i].to_numpy()
        empty_0.append(column_of_array)
    return empty_0

In [74]:
#this function essentially obtains all the combinations of the splitted df
def combinations_(df):
    empty_1 = []
    empty_2 = []
    v = split_(df) #call the function split_
    itertools_combinations = list(itertools.combinations(v, 2))
    return itertools_combinations
#returns a list of combinations

In [115]:
def chi2bool(chi):
    chi = chi2_contingency(chi)
    chi_squared = chi[0]
    dof = chi[2]
    critical_value = chi2.ppf(0.95, dof)
    if chi[0] >  critical_value:
        print("since chi2 =", chi[0] , "is more than the critical value =" , critical_value , ", we reject the null hypothesis, dof=", dof) 
    else: 
        print("since chi2 =" , chi[0] , "is less than the critical value =" , critical_value , ", we do not reject the null hypothesis, dof=", dof)

In [116]:
def tolist(df):
    df = combinations_(df)
    df = np.array(df)
    df = df.tolist()
    return df

In [117]:
p = tolist(df)
p

[[[3, 0, 0, 1, 3, 1, 2, 2], [3, 2, 2, 2, 4, 1, 1, 2]],
 [[3, 0, 0, 1, 3, 1, 2, 2], [2, 3, 3, 2, 3, 3, 1, 2]],
 [[3, 0, 0, 1, 3, 1, 2, 2], [3, 2, 4, 3, 4, 4, 3, 0]],
 [[3, 0, 0, 1, 3, 1, 2, 2], [1, 2, 3, 0, 0, 4, 4, 2]],
 [[3, 2, 2, 2, 4, 1, 1, 2], [2, 3, 3, 2, 3, 3, 1, 2]],
 [[3, 2, 2, 2, 4, 1, 1, 2], [3, 2, 4, 3, 4, 4, 3, 0]],
 [[3, 2, 2, 2, 4, 1, 1, 2], [1, 2, 3, 0, 0, 4, 4, 2]],
 [[2, 3, 3, 2, 3, 3, 1, 2], [3, 2, 4, 3, 4, 4, 3, 0]],
 [[2, 3, 3, 2, 3, 3, 1, 2], [1, 2, 3, 0, 0, 4, 4, 2]],
 [[3, 2, 4, 3, 4, 4, 3, 0], [1, 2, 3, 0, 0, 4, 4, 2]]]

In [118]:
for i in p:
    print(chi2bool(i))

since chi2 = 4.068394024276378 is less than the critical value = 14.067140449340169 , we do not reject the null hypothesis, dof= 7
None
since chi2 = 6.623757309941519 is less than the critical value = 14.067140449340169 , we do not reject the null hypothesis, dof= 7
None
since chi2 = 8.528079710144928 is less than the critical value = 14.067140449340169 , we do not reject the null hypothesis, dof= 7
None
since chi2 = 12.143055555555556 is less than the critical value = 14.067140449340169 , we do not reject the null hypothesis, dof= 7
None
since chi2 = 1.6367978770455553 is less than the critical value = 14.067140449340169 , we do not reject the null hypothesis, dof= 7
None
since chi2 = 4.876385336743393 is less than the critical value = 14.067140449340169 , we do not reject the null hypothesis, dof= 7
None
since chi2 = 10.779595588235296 is less than the critical value = 14.067140449340169 , we do not reject the null hypothesis, dof= 7
None
since chi2 = 3.6810068649885586 is less than the critical value = 14.067140449340169 , we do not reject the null hypothesis, dof= 7
None
since chi2 = 7.272478070175439 is less than the critical value = 14.067140449340169 , we do not reject the null hypothesis, dof= 7
None
since chi2 = 9.329871894409939 is less than the critical value = 14.067140449340169 , we do not reject the null hypothesis, dof= 7
None