In [138]:
import pandas as pd
import numpy as np
import itertools
from scipy.stats import chi2_contingency
from conditional import csv_format_discrete

In [9]:
df = csv_format_discrete(r"C:\Users\User\Documents\GitHub\ML_FYP\dataset\test_2.dat")

In [10]:
df

   A  B  C  D  E
1  3  1  2  3  1
2  0  2  3  2  2
3  0  2  3  4  3
4  1  2  2  3  0
5  3  2  3  4  0
6  1  1  3  4  4
7  2  1  1  3  4
8  2  0  2  0  2

In [17]:
#takes in a pandas dataframe, collects each column of the dataframe and combine it into a list
def split_(df):
    v = list(df)
    empty_0 = []
    for i in list(df):
        column_of_array = df[i].to_numpy()
        empty_0.append(column_of_array)
    return empty_0

In [59]:
#this function essentially obtains all the combinations of the splitted df
def combinations_(df):
    empty_1 = []
    empty_2 = []
    v = split_(df) #call the function split_
    itertools_combinations = list(itertools.combinations(v, 2))
    return itertools_combinations
#returns a list of combinations

In [149]:
l = combinations_(df)
p = np.array(l)
for i in p:
    print(chi2_contingency(i))

(7.838005050505051, 0.3470951089625462, 7, array([[2.08695652, 1.04347826, 1.04347826, 1.56521739, 2.60869565,
        1.04347826, 1.56521739, 1.04347826],
       [1.91304348, 0.95652174, 0.95652174, 1.43478261, 2.39130435,
        0.95652174, 1.43478261, 0.95652174]]))
(6.623757309941519, 0.4690756607381139, 7, array([[1.93548387, 1.16129032, 1.16129032, 1.16129032, 2.32258065,
        1.5483871 , 1.16129032, 1.5483871 ],
       [3.06451613, 1.83870968, 1.83870968, 1.83870968, 3.67741935,
        2.4516129 , 1.83870968, 2.4516129 ]]))
(8.528079710144928, 0.2883353008544251, 7, array([[2.05714286, 0.68571429, 1.37142857, 1.37142857, 2.4       ,
        1.71428571, 1.71428571, 0.68571429],
       [3.94285714, 1.31428571, 2.62857143, 2.62857143, 4.6       ,
        3.28571429, 3.28571429, 1.31428571]]))
(12.143055555555556, 0.09595147193176176, 7, array([[1.71428571, 0.85714286, 1.28571429, 0.42857143, 1.28571429,
        2.14285714, 2.57142857, 1.71428571],
       [2.28571429, 1.14285714, 1.71428571, 0.57142857, 1.71428571,
        2.85714286, 3.42857143, 2.28571429]]))
(1.937799043062201, 0.9632026186405215, 7, array([[1.1       , 1.83333333, 1.83333333, 1.46666667, 1.83333333,
        1.46666667, 0.73333333, 0.73333333],
       [1.9       , 3.16666667, 3.16666667, 2.53333333, 3.16666667,
        2.53333333, 1.26666667, 1.26666667]]))

ValueError: The internally computed table of expected frequencies has a zero element at (0, 7).

In [142]:
def chi2(df):
    empty = []
    v = combinations_(df)
    u = len(v)
    for i in range(u):
        t = chi2_contingency(v[i])
        print(t)
#         empty.append(t)
#     return empty

In [145]:
chi2(df)

(7.838005050505051, 0.3470951089625462, 7, array([[2.08695652, 1.04347826, 1.04347826, 1.56521739, 2.60869565,
        1.04347826, 1.56521739, 1.04347826],
       [1.91304348, 0.95652174, 0.95652174, 1.43478261, 2.39130435,
        0.95652174, 1.43478261, 0.95652174]]))
(6.623757309941519, 0.4690756607381139, 7, array([[1.93548387, 1.16129032, 1.16129032, 1.16129032, 2.32258065,
        1.5483871 , 1.16129032, 1.5483871 ],
       [3.06451613, 1.83870968, 1.83870968, 1.83870968, 3.67741935,
        2.4516129 , 1.83870968, 2.4516129 ]]))
(8.528079710144928, 0.2883353008544251, 7, array([[2.05714286, 0.68571429, 1.37142857, 1.37142857, 2.4       ,
        1.71428571, 1.71428571, 0.68571429],
       [3.94285714, 1.31428571, 2.62857143, 2.62857143, 4.6       ,
        3.28571429, 3.28571429, 1.31428571]]))
(12.143055555555556, 0.09595147193176176, 7, array([[1.71428571, 0.85714286, 1.28571429, 0.42857143, 1.28571429,
        2.14285714, 2.57142857, 1.71428571],
       [2.28571429, 1.14285714, 1.71428571, 0.57142857, 1.71428571,
        2.85714286, 3.42857143, 2.28571429]]))
(1.937799043062201, 0.9632026186405215, 7, array([[1.1       , 1.83333333, 1.83333333, 1.46666667, 1.83333333,
        1.46666667, 0.73333333, 0.73333333],
       [1.9       , 3.16666667, 3.16666667, 2.53333333, 3.16666667,
        2.53333333, 1.26666667, 1.26666667]]))

ValueError: The internally computed table of expected frequencies has a zero element at (0, 7).

In [135]:
v =combinations_(df)
np.array(v[i])

array([[3, 2, 4, 3, 4, 4, 3, 0],
       [1, 2, 3, 0, 0, 4, 4, 2]], dtype=int64)

In [129]:
def list_multiplier(df):
    new_list = []
    for i in range(len(df)):
        new_list = [i]
    return new_list

8

In [84]:
def append_(df):
    empty = []
    k = combinations_(df)
    v = len(k)
    for i in k:
        test = []
        test[i] = k[i]
        return test

In [128]:
combinations_(df)[i]

(array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
 array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64))

In [126]:
empty = []
k = combinations_(df)
v = len(k)
for i in range(v):
    a_i = k[i]
    print(a_i)
#     empty[i] = (k[i])
#         print(test)
    #     test = []
#     test[i] = k[i]
#     print(test)

(array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64), array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64))
(array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64), array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64))
(array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64), array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64))
(array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64), array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64))
(array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64), array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64))
(array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64), array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64))
(array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64), array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64))
(array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64), array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64))
(array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64), array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64))
(array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64), array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64))

In [125]:
for i in range(10):
  a_i = [i] #Stores the corresponding value of i in each a_i list.
  print(a_i)

[0]
[1]
[2]
[3]
[4]
[5]
[6]
[7]
[8]
[9]

In [108]:
using = []
for i in test:
    print(i)
#     x = i.tolist()
#     using.append(x)
# using

(array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64), array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64))

In [74]:
test_list = [2]
test_2 = test_list * 3 
for i in range(v_length):

[]

In [69]:
v = append_(df)
v_length = len(v)
#take v[i] out of v for i number of list

In [22]:
v = list(df)
empty_0 = []
for i in list(df):
    column_of_array = df[i].to_numpy()
    empty_0.append(column_of_array)
empty_0

[array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
 array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
 array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
 array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64),
 array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)]

In [55]:
new_list = []
v = list(df)
empty_list = []
itertools_combinations = list(itertools.combinations(empty_0, 2))
for i in range(length):

[[],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64))]

In [45]:
length = len(itertools_combinations)
# u = [itertools_combinations]
# u
itertools_combinations

[(array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
  array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64)),
 (array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)),
 (array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64),
  array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64))]

In [16]:
empty_0 = []
for i in list(df):
    column_of_array = df[i].to_numpy()
    empty_0.append(column_of_array) 
empty_0

[array([3, 0, 0, 1, 3, 1, 2, 2], dtype=int64),
 array([1, 2, 2, 2, 2, 1, 1, 0], dtype=int64),
 array([2, 3, 3, 2, 3, 3, 1, 2], dtype=int64),
 array([3, 2, 4, 3, 4, 4, 3, 0], dtype=int64),
 array([1, 2, 3, 0, 0, 4, 4, 2], dtype=int64)]

In [12]:
v = list(df)
v

['A', 'B', 'C', 'D', 'E']

In [3]:
v1 = [1,2,3,4,5]
v2 = [2,2,2,2,2]
headers.append(v1)