In [1]:
#TODO: FIND MY CONSTRAINTS
#TODO: BAYES FACTOR?
#TODO: RAI ALGORITHM

In [2]:
from ipynb.fs.full.conditional import *

In [3]:
from pygobnilp.gobnilp import Gobnilp
import pandas as pd
import numpy as np
from pgmpy.estimators.CITests import chi_square
from pgmpy.estimators import PC
from conditional import *
from gurobipy import *
import re
import keyword

In [4]:
df = csv_format_discrete(r"C:\Users\User\Documents\GitHub\ML_FYP\dataset\alarm_100.dat")
df

,One,Two,Three,Four,Five,Six,Seven,Eight,Nine,Ten,...,TwentyEight,TwentyNine,Thirty,ThirtyOne,ThirtyTwo,ThirtyThree,ThirtyFour,ThirtyFive,ThirtySix,ThirtySeven
1,0,2,0,1,2,2,0,1,3,1,...,1,1,1,0,1,0,3,0,0,0
2,0,2,0,1,2,2,0,1,3,1,...,0,1,1,0,2,0,3,0,0,2
3,0,2,0,1,2,2,0,1,3,1,...,0,0,1,0,1,0,3,0,0,1
4,0,2,0,1,1,1,0,3,3,1,...,1,1,1,0,0,0,3,0,0,2
5,0,2,0,1,2,2,0,1,3,1,...,1,1,1,0,1,1,3,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,0,2,0,1,2,2,0,1,3,1,...,0,0,1,0,2,0,2,1,0,2
97,0,2,0,1,2,2,0,1,3,1,...,0,0,1,0,0,0,3,0,0,2
98,0,2,0,1,2,2,0,1,3,1,...,2,1,1,0,0,1,3,0,1,0
99,0,2,0,1,2,2,0,1,3,0,...,0,1,1,0,2,0,3,0,0,2
100,0,2,0,1,1,1,0,3,3,1,...,0,0,1,0,0,0,3,0,0,0

In [6]:
len(g2return(df))

132

In [ ]:
#returns a list with a tuple of combinations of false
def false2tuple(df):
    empty = []
    false_list_of_tuples = []
    new_df = pd.DataFrame(chi2return(df))
    newer_df = new_df[1]
    return newer_df

In [ ]:
false2tuple(df)

In [ ]:
m = Gobnilp()

In [ ]:
m.learn(r"C:\Users\User\Documents\GitHub\ML_FYP\dataset\alarm_100.dat")

In [ ]:
for i,j in false2tuple(df):
    print(i,j)
    m.add_forbidden_arrow(i,j)

In [ ]:
m.learn(start='MIP model')