In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### this is the personality file

### performing reverse-coding on all personaliies

In [49]:
'''
--- personality traits --- 
E - Extraversion - 1, 6 (R), 11, 16 (R)
A - Agreeableness - 2, 7 (R), 12, 17 (R)
C - Conscientiousness - 3, 8 (R), 13, 18 (R)
N - Neuroticism - 4, 9 (R), 14, 19 (R)
O - Openness - 5, 10 (R), 15 (R), 20 (R)
--- personality traits --- 

--- label --- 
R - Reverse Coding
--- label ---

--- personality description ---
1	Am the life of the party - E
2	Sympathize with others' feelings - A
3	Get chores done right away - C
4	Have frequent mood swings - N
5	Have a vivid imagination - O
6	Don't talk a lot - E (R)
7	Am not interested in other people's problems - A (R)
8	Often forget to put things back in their proper place - C (R)
9	Am relaxed most of the time - N (R)
10	Am not interested in abstract ideas - O (R)
11	Talk to a lot of different people at parties - E
12	Feel others' emotions - A
13	Like order - C
14	Get upset easily - N 
15	Have difficulty understanding abstract ideas - O (R)
16	Keep in the background - E (R)
17	Am not really interested in others - A (R)
18	Make a mess of things - C (R)
19	Seldom feel blue - N (R)
20	Do not have a good imagination - O (R)
--- personality description --- 
'''
None

In [50]:
personality_users = pd.read_csv(r'C:\Users\User\Documents\GitHub\Project_15_ADS\dataset\set2\personality_questions_users.csv')
personality_users = personality_users.drop(['id','created_at'], axis=1)
# personality_users = personality_users.query('description > 2')
personality_users

       personality_question_id  user_id  description
0                            1        5            1
1                            2        5            3
2                            3        5            2
3                            4        5            3
4                            5        5            3
...                        ...      ...          ...
12175                       16     1122            2
12176                       17     1122            1
12177                       18     1122            2
12178                       19     1122            5
12179                       20     1122            1

[12180 rows x 3 columns]

In [51]:
personality_id = sorted(set(personality_users['user_id']))

In [52]:
df_req = pd.read_csv(r'C:\Users\User\Documents\GitHub\Project_15_ADS\dataset\set2\requirements.csv')

In [53]:
list_id = sorted(set(df_req['user_id']))

In [54]:
personality_users = personality_users[personality_users['user_id'].isin(list_id)]

In [55]:
personality_users

      personality_question_id  user_id  description
0                           1        5            1
1                           2        5            3
2                           3        5            2
3                           4        5            3
4                           5        5            3
...                       ...      ...          ...
5995                       16      513            2
5996                       17      513            1
5997                       18      513            2
5998                       19      513            4
5999                       20      513            2

[5900 rows x 3 columns]

In [56]:
'''
reverse_coding
9,19 - neuroticisim
6, 16 - extraversion
10, 15, 20 - openness
7, 17 - agreeableness
8, 18 - conscientiousness
'''
reverse_personality = [9, 19, 6, 16, 10, 15, 20, 7, 17, 8, 18] #reverse coding
cond = personality_users['personality_question_id'].isin(reverse_personality)

In [57]:
personality_users.loc[cond, 'description'] = 6 - personality_users.loc[cond, 'description']

C:\Users\User\AppData\Local\Temp\ipykernel_19116\3499465082.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  personality_users.loc[cond, 'description'] = 6 - personality_users.loc[cond, 'description']

In [58]:
'''
this dataframe has been reverse-coded
'''
personality_users

      personality_question_id  user_id  description
0                           1        5            1
1                           2        5            3
2                           3        5            2
3                           4        5            3
4                           5        5            3
...                       ...      ...          ...
5995                       16      513            4
5996                       17      513            5
5997                       18      513            4
5998                       19      513            2
5999                       20      513            4

[5900 rows x 3 columns]

In [59]:
reverse_coded_personality_users = personality_users

In [60]:
'''
just changed the var name
'''
reverse_coded_personality_users

      personality_question_id  user_id  description
0                           1        5            1
1                           2        5            3
2                           3        5            2
3                           4        5            3
4                           5        5            3
...                       ...      ...          ...
5995                       16      513            4
5996                       17      513            5
5997                       18      513            4
5998                       19      513            2
5999                       20      513            4

[5900 rows x 3 columns]

### tags_2_list ?

In [61]:
# tags_2 = pd.read_csv(r'C:\Users\User\Documents\GitHub\Project_15_ADS\predicting_usefulness\usefulness_novelty.csv')
# tags_2 = tags_2.drop(columns=['requirement_id', 'application_domain', 'novelty', 'usefulness', 'clarity'])
# tags_2.reset_index(drop=True)
# tags_2_list = sorted(set(tags_2['user_id']))
# len(tags_2_list)

### E - Extraversion

In [64]:
def extraversion():
    '''
    E - Extraversion - 1, 6 (R), 11, 16 (R)
    returns a list of users with extraversion >= 3.0 given the list in requirements.csv
    '''
    extraversion_list = [1, 6, 11, 16]
    extraversion_df = reverse_coded_personality_users.loc[reverse_coded_personality_users['personality_question_id'].isin(extraversion_list)]
    ex_mean = []
    for i in list_id:
        v = extraversion_df.loc[extraversion_df['user_id'] == i]
        ex_mean.append(np.mean(v['description']))
    ex_df = pd.DataFrame(ex_mean)
    ex_df = ex_df.rename(columns={0:'extraversion'})
    list_df = pd.DataFrame(list_id)
    list_df = list_df.rename(columns={0:'user_id'})
    list_df['extraversion'] = ex_df
# list_df
    extraversion_list = list(list_df.loc[list_df['extraversion'] >= 3.0]['user_id'])
    return extraversion_list

In [76]:
len(extraversion())

139

### A - Agreeableness

In [69]:
def agreeableness():
    '''
    A - Agreeableness - 2, 7 (R), 12, 17 (R)
    returns a list of users with agreeableness >= 3.0 given the list in requirements.csv
    '''
    agreeableness_list = [2, 7, 12, 17]
    agreeableness_df = reverse_coded_personality_users.loc[reverse_coded_personality_users['personality_question_id'].isin(agreeableness_list)]
    ag_mean = []
    for i in list_id:
        v = agreeableness_df.loc[agreeableness_df['user_id'] == i]
        ag_mean.append(np.mean(v['description']))
    ag_df = pd.DataFrame(ag_mean)
    ag_df = ag_df.rename(columns={0:'agreeableness'})
    list_df = pd.DataFrame(list_id)
    list_df = list_df.rename(columns={0:'user_id'})
    list_df['agreeableness'] = ag_df
# list_df
    agreeableness_list = list(list_df.loc[list_df['agreeableness'] >= 3.0]['user_id'])
    return agreeableness_list

In [75]:
len(agreeableness())

250

### C - Conscientiousness

In [78]:
def conscientiousness():
    '''
    C - Conscientiousness - 3, 8 (R), 13, 18 (R)
    returns a list of users with conscientiousness >= 3.0 given the list in requirements.csv
    '''
    conscientiousness_list = [3, 8, 13, 18]
    conscientiousness_df = reverse_coded_personality_users.loc[reverse_coded_personality_users['personality_question_id'].isin(conscientiousness_list)]
    co_mean = []
    for i in list_id:
        v = conscientiousness_df.loc[conscientiousness_df['user_id'] == i]
        co_mean.append(np.mean(v['description']))
    co_df = pd.DataFrame(co_mean)
    co_df = co_df.rename(columns={0:'conscientiousness'})
    list_df = pd.DataFrame(list_id)
    list_df = list_df.rename(columns={0:'user_id'})
    list_df['conscientiousness'] = co_df
# list_df
    conscientiousness_list = list(list_df.loc[list_df['conscientiousness'] >= 3.0]['user_id'])
    return conscientiousness_list

In [74]:
len(conscientiousness())

249

### N - Neuroticism

In [79]:
def neuroticism():
    '''
    N - Neuroticism - 4, 9 (R), 14, 19 (R)
    returns a list of users with neuroticism >= 3.0 given the list in requirements.csv
    '''
    neuroticism_list = [4, 9, 14, 19]
    neuroticism_df = reverse_coded_personality_users.loc[reverse_coded_personality_users['personality_question_id'].isin(neuroticism_list)]
    ne_mean = []
    for i in list_id:
        v = neuroticism_df.loc[neuroticism_df['user_id'] == i]
        ne_mean.append(np.mean(v['description']))
    ne_df = pd.DataFrame(ne_mean)
    ne_df = ne_df.rename(columns={0:'neuroticism'})
    list_df = pd.DataFrame(list_id)
    list_df = list_df.rename(columns={0:'user_id'})
    list_df['neuroticism'] = ne_df
# list_df
    neuroticism_list = list(list_df.loc[list_df['neuroticism'] >= 3.0]['user_id'])
    return neuroticism_list

In [80]:
len(neuroticism())

90

### O - Openness

In [83]:
def openness():
    '''
    O - Openness - 5, 10 (R), 15 (R), 20 (R)
    returns a list of users with openness >= 3.0 given the list in requirements.csv
    '''
    openness_list = [5, 10, 15, 20]
    openness_df = reverse_coded_personality_users.loc[reverse_coded_personality_users['personality_question_id'].isin(openness_list)]
    op_mean = []
    for i in list_id:
        v = openness_df.loc[openness_df['user_id'] == i]
        op_mean.append(np.mean(v['description']))
    op_df = pd.DataFrame(op_mean)
    op_df = op_df.rename(columns={0:'openness'})
    list_df = pd.DataFrame(list_id)
    list_df = list_df.rename(columns={0:'user_id'})
    list_df['openness'] = op_df
# list_df
    openness_list = list(list_df.loc[list_df['openness'] >= 3.0]['user_id'])
    return openness_list

In [84]:
len(openness())

270