In [1]:
#first phase: constraint identification, identify constraints with a chi squared test or some traditional methods
#second phase: edge orientation,

In [2]:
#given X тлл Y | Z, what does this tell us about graph?
#1. it indicates a binary decision indicating whether or not an edge should exist between X and Y
#2. which set of variables Z are needed to d-separate X and Y

In [3]:
#questions
#1. the accuracy of hypothesis test (g2, chi2) seems low, how do i counter this
#2. mutual information?
#3. would it be worth using other constraint identification ()
#4. what should the role of the degrees of freedom play in my test?
#5. confused about research papers where the first step is to identify constraint (conditional independence), which is process of learning of the skeleton,

In [4]:
#TODO: FIND MY CONSTRAINTS
#TODO: BAYES FACTOR? http://www.ai.lab.uec.ac.jp/wp-content/uploads/2018/08/Constraint-based-learning-Bayesian-networks-using-Bayes-factor.pdf
#TODO: RAI ALGORITHM https://www.jmlr.org/papers/volume10/yehezkel09a/yehezkel09a.pdf
#TODO: VERY GOOD BOOK : https://scholarworks.umass.edu/cgi/viewcontent.cgi?article=1174&context=open_access_dissertations

In [10]:
from pygobnilp.gobnilp import Gobnilp
import pandas as pd
import numpy as np
from pgmpy.estimators.CITests import chi_square
from pgmpy.estimators import PC
from conditional import *
from gurobipy import *
import random
import re
import keyword

In [3]:
df = csv_format_discrete(r"C:\Users\User\Documents\GitHub\ML_FYP\dataset\alarm_100.dat")
df

,One,Two,Three,Four,Five,Six,Seven,Eight,Nine,Ten,...,TwentyEight,TwentyNine,Thirty,ThirtyOne,ThirtyTwo,ThirtyThree,ThirtyFour,ThirtyFive,ThirtySix,ThirtySeven
1,0,2,0,1,2,2,0,1,3,1,...,1,1,1,0,1,0,3,0,0,0
2,0,2,0,1,2,2,0,1,3,1,...,0,1,1,0,2,0,3,0,0,2
3,0,2,0,1,2,2,0,1,3,1,...,0,0,1,0,1,0,3,0,0,1
4,0,2,0,1,1,1,0,3,3,1,...,1,1,1,0,0,0,3,0,0,2
5,0,2,0,1,2,2,0,1,3,1,...,1,1,1,0,1,1,3,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,0,2,0,1,2,2,0,1,3,1,...,0,0,1,0,2,0,2,1,0,2
97,0,2,0,1,2,2,0,1,3,1,...,0,0,1,0,0,0,3,0,0,2
98,0,2,0,1,2,2,0,1,3,1,...,2,1,1,0,0,1,3,0,1,0
99,0,2,0,1,2,2,0,1,3,0,...,0,1,1,0,2,0,3,0,0,2
100,0,2,0,1,1,1,0,3,3,1,...,0,0,1,0,0,0,3,0,0,0

In [9]:
#how do we measure the consistensy
def bool2(df):
#returns a tuple(chi2, p_value, dof) if boolean = false
#the null hypothesis is that they are independent of each other
#if true, the p_value is higher than the significance test, we do not reject the null hypothesis
#if false, the p_value is lower than the significance test, we reject the null hypothesis
    v = list(df)
    empty = []
    empty_1 = []
    empty_2 = []
    empty_3 = []
    empty_4 = []
    itertools_combinations = list(itertools.combinations(v, 2)) #finds every possible combination of list(df)
    for i in itertools_combinations:
        empty_1.append(i[0])
        empty_2.append(i[1])
        
    total_number_of_combinations = len(empty_1)
    
    for t in range(len(itertools_combinations)):
        empty.append(itertools_combinations[t])
        
    for value in range(len(empty_1)):
        empty_3.append(value)
        
    for x,y,i,j in zip(empty_1, empty_2, empty, empty_3):
        chisquare = chi_square(X=x, Y=y, Z=[], data=df, significance_level=0.10, boolean=True) #returns chi, p_value, dof
        empty_4.append([j, i , chisquare])
        
    return empty_4

In [32]:
def trueList(df, pf):
    new_list = []
    for i, j in zip(df,pf):
        if i == j:
            new_list.append(i)
    return new_list

In [41]:
len(sortReturn(a_95)[0]), len(sortReturn(a)[0])

(520, 501)

In [36]:
trueList(a_95, a)

[[1, ('One', 'Three'), True],
 [5, ('One', 'Seven'), True],
 [6, ('One', 'Eight'), True],
 [7, ('One', 'Nine'), True],
 [8, ('One', 'Ten'), True],
 [10, ('One', 'Twelve'), True],
 [11, ('One', 'Thirteen'), True],
 [12, ('One', 'Fourteen'), True],
 [13, ('One', 'Fifteen'), True],
 [15, ('One', 'Seventeen'), True],
 [16, ('One', 'Eighteen'), True],
 [17, ('One', 'Nineteen'), True],
 [18, ('One', 'Twenty'), True],
 [19, ('One', 'TwentyOne'), True],
 [20, ('One', 'TwentyTwo'), True],
 [21, ('One', 'TwentyThree'), True],
 [22, ('One', 'TwentyFour'), True],
 [23, ('One', 'TwentyFive'), True],
 [24, ('One', 'TwentySix'), True],
 [25, ('One', 'TwentySeven'), True],
 [26, ('One', 'TwentyEight'), True],
 [27, ('One', 'TwentyNine'), True],
 [28, ('One', 'Thirty'), True],
 [29, ('One', 'ThirtyOne'), True],
 [31, ('One', 'ThirtyThree'), True],
 [33, ('One', 'ThirtyFive'), True],
 [34, ('One', 'ThirtySix'), True],
 [35, ('One', 'ThirtySeven'), True],
 [36, ('Two', 'Three'), True],
 [37, ('Two', 'Four'), True],
 [38, ('Two', 'Five'), True],
 [39, ('Two', 'Six'), True],
 [40, ('Two', 'Seven'), True],
 [41, ('Two', 'Eight'), True],
 [42, ('Two', 'Nine'), True],
 [43, ('Two', 'Ten'), True],
 [44, ('Two', 'Eleven'), True],
 [45, ('Two', 'Twelve'), True],
 [46, ('Two', 'Thirteen'), True],
 [47, ('Two', 'Fourteen'), True]]

In [38]:
len(trueList(a_95, a))

40

In [14]:
a,b = sortReturn(bool2(df))[0], sortReturn(bool2(df))[1]

In [16]:
len(a)

501

In [17]:
a_95, b_95 = sortReturn(chi2bool(df))[0], sortReturn(chi2bool(df))[1]

In [19]:
len(a_95)

520

In [4]:
cond_ind = chi2condval(df)

In [5]:
cond_ind_bool = chi2condbool(df)

In [42]:
# cond_ind

In [43]:
# cond_ind_bool

In [44]:
g2_ = g2(df)
# g2_

In [46]:
# chi_2_bool = chi2bool(df)
# chi_2_bool

In [47]:
#test the significance level with and without forbidden arrows removed

In [51]:
m = Gobnilp()

Set parameter PreCrush to value 1
Set parameter CutPasses to value 100000
Set parameter GomoryPasses to value 100000
Set parameter MIPFocus to value 2
Set parameter ZeroHalfCuts to value 2
Set parameter MIPGap to value 0
Set parameter MIPGapAbs to value 0

In [55]:
m.learn(r"C:\Users\User\Documents\GitHub\ML_FYP\dataset\alarm_100.dat")

ValueError: This line: '0 2 0 1 2 2 0 1 3 1 3 1 1 1 0 0 0 0 0 0 0 0 1 0 0 0 1 1 1 1 0 1 0 3 0 0 0' is interpreted as giving variable arities but the value 0 is less than 2.

In [ ]:
for i,j in false2tuple(df):
    print(i,j)

In [ ]:
for i,j in g2tuple(df):
    print(i,j)
    m.add_forbidden_arrow(i,j)

In [ ]:
m.learn(start='MIP model')

In [ ]:
m.